<cn-record-view model="model"></cn-record-view>
<div class="vertical-spacer" ng-repeat="child in model.module.children">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
<div class="record-view rounded vertical-spacer">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      Columns
      <span class="pull-right">
        <span ng-if="model.viewModel.columnListIsLoading || model.viewModel.confirmInProgress">
          working, please wait...
        </span>
        <span ng-if="!model.viewModel.columnListIsLoading && !model.viewModel.confirmInProgress">
          {{
            model.viewModel.getDataPointCount()
              ? (model.viewModel.getDataPointCount()|cnCommaInteger) + ' data points total'
              : 'no data points'
          }}
          <i class="glyphicon"
             ng-class="model.viewModel.getDataPointCount() ?
                       'glyphicon-ok' : 'glyphicon-remove'"></i>
        </span>
      </span>
    </h4>
  </div>
  <div class="form-body container-fluid">
    <div class="loading vertical-spacer" ng-if="model.viewModel.columnListIsLoading"></div>
    <div ng-if="!model.viewModel.columnListIsLoading">
      <p class="text-info" style="margin-top: 1em;">
        Add columns to include in the participant export.<br>
        Some columns will require you to define a subtype.  This means that there are multiple records for one
        participant, so you must specify which record to include in the report.
      </p>
      <hr />
      <p ng-if="0 == model.viewModel.columnList.length">
        No columns selected.
      </p>
      <div class="row vertical-spacer" ng-repeat="item in model.viewModel.columnList">
        <div class="col-sm-2">
          <select class="form-control"
                  ng-model="item.rank"
                  ng-change="model.viewModel.moveColumn( $index, item.rank-1 )"
                  ng-disabled="item.isUpdating"
                  ng-options="rank for rank in [] | cnRange:1:model.viewModel.columnList.length">
          </select>
        </div>
        <div class="col-sm-2 text-center"><strong>{{ item.table_name|cnUCWords }}</strong></div>
        <div class="col-sm-2 text-center"><strong>{{ item.column.title }}</strong></div>
        <div class="col-sm-4 col-slim-right">
          <select class="form-control"
                  ng-if="model.viewModel.subtypeList[item.table_name]"
                  ng-model="item.subtype"
                  ng-change="model.viewModel.updateColumn( item.id, 'subtype' )"
                  ng-disabled="item.isUpdating"
                  ng-options="obj.key as obj.name for obj in model.viewModel.subtypeList[item.table_name]">
          </select>
        </div>
        <div class="col-sm-2 col-slim-left">
          <div class="btn-group pull-right" style="white-space: nowrap;">
            <button class="btn"
                    uib-tooltip="Whether to include the column in the generated file."
                    tooltip-placement="left"
                    ng-click="model.viewModel.toggleInclude( $index )">
              <i class="glyphicon"
                 ng-class="item.include ? 'glyphicon-eye-open' : 'glyphicon-eye-close'"></i>
            </button>
            <button class="btn btn-danger"
                    uib-tooltip="Remove Column"
                    tooltip-placement="left"
                    ng-click="model.viewModel.removeColumn( $index )">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </div>
      </div>
      <hr />
      <div class="vertical-spacer" style="margin-bottom: 1em;">
        <span ng-repeat="(tableName, column) in model.viewModel.tableColumnList">
          <select class="form-control"
                  ng-disabled="column.isLoading"
                  ng-model="model.viewModel.newColumn[tableName]"
                  ng-change="model.viewModel.addColumn( tableName, model.viewModel.newColumn[tableName] )"
                  ng-disabled="item.isUpdating"
                  ng-options="o.key as o.title for o in column.list">
          </select>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="record-view rounded vertical-spacer">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      Restrictions
      <span class="pull-right">
        <span ng-if="model.viewModel.restrictionListIsLoading || model.viewModel.confirmInProgress">
          working, please wait...
        </span>
        <span ng-if="!model.viewModel.restrictionListIsLoading && !model.viewModel.confirmInProgress">
          {{ model.viewModel.participantCount ?
             (model.viewModel.participantCount|cnCommaInteger) + ' participants selected' :
             'no participants selected' }}
          <i class="glyphicon"
             ng-class="model.viewModel.participantCount ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
        </span>
      </span>
    </h4>
  </div>
  <div class="form-body container-fluid">
    <div class="loading vertical-spacer" ng-if="model.viewModel.restrictionListIsLoading"></div>
    <div ng-if="!model.viewModel.restrictionListIsLoading">
      <p class="text-info" style="margin-top: 1em;">
        Add restrictions if you wish to narrow down the list of participants included in the returned data.<br>
        If you do not add any restrictions then all participants available to this application will be included.
      </p>
      <hr />
      <p ng-if="0 == model.viewModel.restrictionList.length">
        No restrictions selected.
      </p>
      <div class="row vertical-spacer" ng-repeat="item in model.viewModel.restrictionList">
        <hr ng-if="0 < $index && 'or' == item.logic"/>
        <div class="col-sm-2">
          <select class="form-control"
                  ng-model="item.logic"
                  ng-if="0 < $index"
                  ng-disabled="item.isUpdating"
                  ng-change="model.viewModel.updateRestriction( item.id, 'logic' )">
            <option value="and">AND</option>
            <option value="or">OR</option>
          </select>
        </div>
        <label class="col-sm-2 control-label text-center" ng-if="null == item.subtype">
          {{ item.table_name|cnUCWords }}
        </label>
        <div class="col-sm-2 col-slim" ng-if="null != item.subtype">
          <select class="form-control pull-right"
                  ng-model="item.subtype"
                  ng-change="model.viewModel.selectRestrictionColumn( $index )"
                  ng-options="o.key as o.name for o in model.viewModel.getSubtypeList( item.table_name )">
          </select>
        </div>
        <label class="col-sm-1 control-label text-center">{{ item.restriction.title }}</label>
        <div class="col-sm-2">
          <select class="form-control"
                  ng-model="item.test"
                  ng-disabled="item.isUpdating"
                  ng-change="model.viewModel.updateRestriction( item.id, 'test' )">
            <option value="&lt;=&gt;">is</option>
            <option value="&lt;&gt;">is not</option>
            <option ng-if="'datetime' == (item.restriction.type|cnRestrictType) && null != item.value"
                    value="&lt;">before</option>
            <option ng-if="'datetime' == (item.restriction.type|cnRestrictType) && null != item.value"
                    value="&gt;">after</option>
            <option value="like" ng-if="'string' == item.restriction.type">like</option>
            <option value="not like" ng-if="'string' == item.restriction.type">not like</option>
          </select>
        </div>
        <div class="col-sm-4 col-slim-right">
          <input ng-if="'string' == item.restriction.type"
                 class="form-control"
                 type="text"
                 autocomplete="off"
                 ng-model="item.value"
                 ng-disabled="item.isUpdating"
                 cn-change="model.viewModel.updateRestriction( item.id, 'value' )"
                 maxlength="255"></input>
          <input ng-if="'dob' == item.restriction.type ||
                        'dod' == item.restriction.type ||
                        'datetime' == item.restriction.type"
                 class="form-control"
                 type="text"
                 ng-click="model.viewModel.selectDatetime( $index )"
                 ng-model="item.formattedValue"
                 ng-disabled="item.isUpdating"
                 onkeydown="return false"></input>
          <select ng-if="'application' == item.restriction.type ||
                         'boolean' == item.restriction.type ||
                         'enum' == item.restriction.type"
                  class="form-control"
                  ng-model="item.value"
                  ng-disabled="item.isUpdating"
                  ng-change="model.viewModel.updateRestriction( item.id, 'value' )"
                  ng-options="o.value as o.name for o in item.restriction.enumList"></select>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-danger pull-right"
                  uib-tooltip="Remove Restriction"
                  tooltip-placement="left"
                  ng-click="model.viewModel.removeRestriction( $index )">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
      </div>
      <hr />
      <div class="vertical-spacer" style="margin-bottom: 1em;">
        <div ng-repeat="(tableName, restriction) in model.viewModel.tableRestrictionList"
             ng-if="model.viewModel.showRestrictionList( tableName )">
          <select class="form-control"
                  ng-disabled="restriction.isLoading"
                  ng-model="model.viewModel.newRestriction"
                  ng-change="model.viewModel.addRestriction( tableName, model.viewModel.newRestriction )"
                  ng-options="o.key as o.title for o in restriction.list"></select>
        </div>
      </div>
    </div>
  </div>
</div>
