<?php
/**
 * cenozo.ini.php
 * 
 * Defines installation-specific initialization settings for cenozo.
 * When this file is loaded it overrides any settings found in the read-only settings.ini.php file.
 * 
 * @author Patrick Emond <emondpd@mcmaster.ca>
 * @package cenozo
 */

$settings = array();

// when set to true all operations are disabled
$settings['general']['maintenance_mode'] = false;

// we need to declare the framework's working name
$settings['general']['framework_name'] = 'cenozo';

// the web url of the cenozo framework
$host = NULL;
if( array_key_exists( 'HTTP_X_FORWARDED_HOST', $_SERVER ) ) 
  $host = $_SERVER['HTTP_X_FORWARDED_HOST'];
else if( array_key_exists( 'HTTP_HOST', $_SERVER ) ) 
  $host = $_SERVER['HTTP_HOST'];
if( !is_null( $host ) ) $settings['url']['CENOZO'] = sprintf( 'https://%s/url/to/cenozo', $host );

// the location of the PDF-writing mikehaertl libraries (only add if using the pdf module)
$settings['path']['MIKEHAERTL'] = '/path/to/mikehaertl';

// the location of the Shift8 Asterisk library (only add if using the voip module)
$settings['path']['SHIFT8'] = 'path/to/shift8';

// the path and url of Limesurvey (only add if using the script module)
$settings['path']['LIMESURVEY'] = '/path/to/limesurvey';
$settings['url']['LIMESURVEY'] = '../limesurvey';

// utility account
$settings['utility']['password'] = 'set password to utility account here'; 

// database settings (username and password are set in the application's settings)
$settings['db']['server'] = 'localhost';
$settings['db']['database_prefix'] = '';

// ldap settings
$settings['ldap']['enabled'] = true;
$settings['ldap']['server'] = 'localhost';
$settings['ldap']['username'] = '';
$settings['ldap']['password'] = '';
$settings['ldap']['type'] = 'samba';

// opal settings
$settings['opal']['enabled'] = false;
$settings['opal']['server'] = 'localhost';
$settings['opal']['port'] = 8843;
$settings['opal']['username'] = '';
$settings['opal']['password'] = '';
$settings['opal']['timeout'] = 5;

// failover opal settings (used if opal times out)
$settings['failover_opal']['enabled'] = false;
$settings['failover_opal']['server'] = 'localhost';
$settings['failover_opal']['port'] = 8843;
$settings['failover_opal']['username'] = '';
$settings['failover_opal']['password'] = '';
$settings['failover_opal']['timeout'] = 5;

// the Asterisk AJAM url, username and password (only use if the voip module is enabled)
$settings['voip']['enabled'] = false;
$settings['voip']['domain'] = 'localhost';
$settings['voip']['mxml_port'] = 8088;
$settings['voip']['username'] = '';
$settings['voip']['password'] = '';
$settings['voip']['prefix'] = '';

// default mail settings
$settings['mail']['enabled'] = true;
$settings['mail']['default_from_name'] = 'put default from email name here';
$settings['mail']['default_from_address'] = 'put default from email address here';
