<cn-loading ng-if="model.viewModel.isLoading"></cn-loading>
<div ng-if="!model.viewModel.isLoading" class="container-fluid vertical-spacer allow-select">
  <h4>
    <div class="horizontal-spacer pull-right">
      <i class="glyphicon glyphicon-refresh glyph-hover btn-primary btn-header"
         style="cursor: pointer;"
         ng-click="refresh()"
         tooltip="Click to refresh data"
         tooltip-placement="left"></i>
    </div>
    {{ model.viewModel.record.description }}
  </h4>
  <hr/>
  <div ng-repeat="item1 in model.viewModel.record.data">
    <!-- value is not an array -->
    <div ng-if="!(item1.value|cnIsArray)"
         class="container-fluid"
         ng-class="{'striped':$odd,'hover':hover}"
         ng-mouseenter="hover = true"
         ng-mouseleave="hover = false">
      <label class="col-sm-6">{{ item1.label }}</label>
      <div class="col-sm-6 text-right">{{ item1.value }}</div>
    </div>
    <!-- value is an array -->
    <div ng-if="item1.value|cnIsArray"
         class="panel panel-primary"
         style="margin-top: 20px;">
      <div class="panel-heading"><strong>{{ item1.label }}</strong></div>
      <div class="panel-body">
        <div ng-repeat="item2 in item1.value">
          <!-- value is not an array -->
          <div ng-if="!(item2.value|cnIsArray)"
               class="container-fluid"
               ng-class="{'striped':$odd,'hover':hover}"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false">
            <label class="col-sm-6">{{ item2.label }}</label>
            <div class="col-sm-6 text-right">{{ item2.value }}</div>
          </div>
          <!-- value is an array -->
          <div ng-if="item2.value|cnIsArray"
               class="panel panel-info"
               style="margin-top: 20px;">
            <div class="panel-heading"><strong>{{ item2.label }}</strong></div>
            <div class="panel-body">
              <div ng-repeat="item3 in item2.value">
                <!-- value is not an array -->
                <div ng-if="!(item3.value|cnIsArray)"
                     class="container-fluid"
                     ng-class="{'striped':$odd,'hover':hover}"
                     ng-mouseenter="hover = true"
                     ng-mouseleave="hover = false">
                  <label class="col-sm-6">{{ item3.label }}</label>
                  <div class="col-sm-6 text-right">{{ item3.value }}</div>
                </div>
                <!-- value is an array -->
                <div ng-if="item3.value|cnIsArray"
                     class="panel panel-default"
                     style="margin-top: 20px;">
                  <div class="panel-heading"><strong>{{ item3.label }}</strong></div>
                  <div class="panel-body">
                    <div ng-repeat="item4 in item3.value">
                      <!-- value is not an array -->
                      <div ng-if="!(item4.value|cnIsArray)"
                           class="container-fluid"
                           ng-class="{'striped':$odd,'hover':hover}"
                           ng-mouseenter="hover = true"
                           ng-mouseleave="hover = false">
                        <label class="col-sm-6">{{ item4.label }}</label>
                        <div class="col-sm-6 text-right">{{ item4.value }}</div>
                      </div>
                      <!-- value is an array -->
                      <div ng-if="item4.value|cnIsArray"
                           class="panel panel-info"
                           style="margin-top: 20px;">
                        <div class="panel-heading"><strong>{{ item4.label }}</strong></div>
                        <div class="panel-body">
                          <div ng-repeat="item5 in item4.value">
                            <!-- value is not an array -->
                            <div ng-if="!(item5.value|cnIsArray)"
                                 class="container-fluid"
                                 ng-class="{'striped':$odd,'hover':hover}"
                                 ng-mouseenter="hover = true"
                                 ng-mouseleave="hover = false">
                              <label class="col-sm-6">{{ item5.label }}</label>
                              <div class="col-sm-6 text-right">{{ item5.value }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
