<div class="inner-view-frame">
  <cn-loading ng-if="model.isLoading"></cn-loading>
  <div class="container-fluid bg-white allow-select" ng-if="!model.isLoading">
    <h3 class="text-primary">Welcome to {{ model.application.title }} version {{ model.application.version }}</h3>
    <div class="container-fluid">
      You are currently logged on as
      <strong>{{ model.user.firstName }} {{ model.user.lastName }}</strong>
      under the role of
      <strong>{{ model.role.name }}</strong>
      for the
      <strong>{{ model.site.name }}</strong>
      site.<br>
      <span class="text-warning">
        Use of any account other than your own is prohibited.
        If this is not you please <a href="?logout">click here</a> to log in.
      </span>
    </div>
    <div class="vertical-spacer"></div>
    <div ng-if="model.user.lastActivity" class="container-fluid">
      You were last logged in from
      <strong>{{ model.user.lastActivity.start_datetime | cnDatetime:'datetimesecond' }}</strong>
      until
      <strong>{{ model.user.lastActivity.end_datetime | cnDatetime:'datetimesecond' }}</strong>
      under the role of 
      <strong>{{ model.user.lastActivity.roleName }}</strong>
      for the
      <strong>{{ model.user.lastActivity.siteName }}</strong>
      site.
    </div>
    <div class="vertical-spacer"></div>
    <h3 class="text-primary">System Status</h3>
    <div ng-if="model.application.developmentMode" class="container-fluid text-warning">
      This application is currently in development mode.
    </div>
    <div class="container-fluid">
      There {{ 1 == model.application.activeUsers ? "is" : "are" }} currently
      {{ model.application.activeUsers }} active user{{ 1 == model.application.activeUsers ? "" : "s" }},
      {{ model.site.activeUsers }} of which {{ 1 == model.application.activeUsers ? "is" : "are" }}
      logged into your site.
    </div>
    <div class="vertical-spacer"></div>
    <h3 class="text-primary">System Messages</h3>
    <div class="container-fluid" ng-repeat="message in model.messageList">
      <h4><i class="glyphicon glyphicon-envelope"></i> {{ message.title }}</h4>
      <blockquote class="text-info" style="white-space: pre-wrap;">{{ message.note }}</blockquote>
    </div>
    <div ng-if="0 == model.messageList.length">
      <blockquote class="text-info" style="white-space: pre-wrap;">There are no messages.</blockquote>
    </div>
  </div>
</div>
<div class="gradient-footer"></div>
