<div class="inner-view-frame">
  <div class="container-fluid bg-white allow-select">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="text-primary">
          Welcome to {{ session.application.title }} version {{ session.application.version }}
        </h3>
        <div class="container-fluid">
          You are currently logged on as
          <strong>{{ session.user.firstName }} {{ session.user.lastName }}</strong>
          under the role of
          <strong>{{ session.role.name }}</strong>
          at the
          <strong>{{ session.site.name }}</strong>
          site.<br>
          <span class="text-warning">
            Use of any account other than your own is prohibited.
            If this is not you please <a style="cursor:pointer" ng-click="session.logout()">click here</a>
            to log in.
          </span>
        </div>
        <div class="vertical-spacer"></div>
        <div ng-if="session.user.lastActivity" class="container-fluid">
          You were last logged in from
          <strong>{{ session.user.lastActivity.start_datetime | cnDatetime:'datetimesecond' }}</strong>
          until
          <strong>{{ session.user.lastActivity.end_datetime | cnDatetime:'datetimesecond' }}</strong>
          under the role of
          <strong>{{ session.user.lastActivity.role_name }}</strong>
          at the
          <strong>{{ session.user.lastActivity.site_name }}</strong>
          site.
        </div>
        <div class="vertical-spacer"></div>
        <h3 class="text-primary">System Status</h3>
        <div ng-if="session.application.developmentMode" class="container-fluid text-warning">
          This application is currently in development mode.
        </div>
        <div class="container-fluid">
          There {{ 1 == session.application.activeUsers ? "is" : "are" }} currently
          {{ session.application.activeUsers }} active user{{ 1 == session.application.activeUsers ? "" : "s" }},
          {{ session.site.activeUsers }} of which {{ 1 == session.site.activeUsers ? "is" : "are" }}
          logged into your site.
        </div>
      </div>
      <div class="col-sm-4 hidden-xs">
        <h3>
          <img ng-src="{{ cenozoUrl }}/img/branding.png"
               class="img-responsive"
               onerror="this.style.display='none'"
               alt="" />
        </h3>
      </div>
    </div>
    <h3 class="text-primary">System Messages</h3>
    <div class="container-fluid" ng-repeat="message in session.messageList">
      <h4>
        <button type="button"
                class="btn"
                ng-class="message.unread ? 'btn-warning' : 'btn-default'"
                ng-click="markMessage( message.id )"
                uib-tooltip="Click to mark message as {{ message.unread ? 'read' : 'unread' }}"
                tooltip-placement="right">
          <i class="glyphicon" ng-class="message.unread ? 'glyphicon-envelope' : 'glyphicon-ok'"></i>
        </button>
        {{ message.title }}
      </h4>
      <blockquote class="text-info" style="white-space: pre-wrap;">{{ message.note }}</blockquote>
    </div>
    <div ng-if="0 == session.messageList.length">
      <blockquote class="text-info" style="white-space: pre-wrap;">There are no messages.</blockquote>
    </div>
  </div>
</div>
<div class="gradient-footer"></div>
