<cn-record-view model="model"></cn-record-view>
<cn-list-selector model="model"></cn-list-selector>
<div ng-show="child.subject.snake==model.viewModel.tab" ng-repeat="child in model.module.children">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
<div ng-show="child.subject.snake==model.viewModel.tab" ng-repeat="child in model.module.choosing">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
