<cn-record-view model="model"></cn-record-view>
<cn-list-selector ng-if="showChildren" model="model"></cn-list-selector>
<div ng-if="showChildren" ng-show="child.subject.snake==model.viewModel.tab" ng-repeat="child in model.module.choosing">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
<div ng-if="showChildren" ng-show="child.subject.snake==model.viewModel.tab" ng-repeat="child in model.module.children">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
<div class="well vertical-spacer text-info" ng-if="!showChildren">
  Note: cohort, role, site and script lists can only be viewed for the application you are currently using.
</div>
