<cn-record-view model="model"></cn-record-view>
<div ng-if="showChildren">
  <cn-list-selector model="model"></cn-list-selector>
  <div ng-show="null === model.viewModel.tab || child.subject.snake == model.viewModel.tab"
       ng-repeat="child in model.module.children"
       class="vertical-spacer">
    <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                    model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
  </div>
  <div ng-show="null === model.viewModel.tab || child.subject.snake == model.viewModel.tab"
       ng-repeat="child in model.module.choosing"
       class="vertical-spacer">
    <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                    model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
  </div>
</div>
<div class="well vertical-spacer text-info" ng-if="!showChildren">
  Note: cohort, role, site and script lists can only be viewed for the application you are currently using.
</div>
