<?php
/**
 * cenozo.ini.php
 * 
 * Defines installation-specific initialization settings for cenozo.
 * When this file is loaded it overrides any settings found in the read-only settings.ini.php file.
 * 
 * @author Patrick Emond <emondpd@mcmaster.ca>
 * @package cenozo
 */

$settings = array();

// when set to true all operations are disabled
$settings['general']['maintenance_mode'] = false;

// the web url of the cenozo framework
$settings['url']['CENOZO'] = sprintf( 'http%s://%s/url/to/cenozo',
                                          'on' == $_SERVER["HTTPS"] ? 's' : '',
                                          $_SERVER["HTTP_HOST"] );

// the location of libraries
$settings['path']['ADODB'] = '/path/to/adodb';

// database settings (username and password are set in the application's settings)
$settings['db']['driver'] = 'mysql';
$settings['db']['server'] = 'localhost';
$settings['db']['database_prefix'] = '';
$settings['db']['table_prefix'] = '';

// ldap settings
$settings['ldap']['enabled'] = true;
$settings['ldap']['server'] = 'localhost';
$settings['ldap']['port'] = 389;
$settings['ldap']['base'] = '';
$settings['ldap']['username'] = '';
$settings['ldap']['password'] = '';
$settings['ldap']['active_directory'] = true;
