<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
         ng-click="model.updateInformation()"
         ng-disabled="model.updating"
         uib-tooltip="Click to refresh data"
         tooltip-placement="left"></i>
      Webphone Status <span ng-if="model.updating">(updating)</span>
    </h4>
  </div>
  <div class="form-horizontal">
    <div class="container-fluid">
      <h4><span class="text-danger">Please Note</span></h4>
      <blockquote class="text-danger">
        In order to stay connected to the webphone you must leave this browser tab window open.
        Do not reload or navigate away from this page or you will be disconnected from any active calls
        and you will not be able to make new calls using the webphone.
      </blockquote>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <ul class="nav nav-tabs">
            <li ng-class="{'active':'server'==tab}"><a ng-click="tab='server'">Server</a></li>
            <li ng-show="model.useRecording"
                ng-class="{'active':'recordings'==tab}"><a ng-click="tab='recordings'">Recordings</a></li>
          </ul>
          <div ng-if="'server'==tab" class="form-body well allow-select" style="border-top-left-radius: 0px;">
            <div class="row">
              <label class="col-sm-6 control-label">Last Update</label>
              <div class="col-sm-6 form-text">
                {{ model.lastUpdate | cnDatetime:'datetimesecond' }}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-6 control-label">Server VoIP Status</label>
              <div class="col-sm-6 form-text" ng-class="model.voip.enabled ? 'text-success' : 'text-danger'">
                {{ model.voip.enabled ? 'Online' : 'Offline' }}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-6 control-label">Webphone Status</label>
              <div class="col-sm-6 form-text"
                   ng-class="{ 'text-success': model.voip.info && 'OK' == model.voip.info.status.substr( 0, 2 ) }">
                {{ model.voip.info ? model.voip.info.status : 'Offline' }}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-6 control-label">Webphone Type</label>
              <div class="col-sm-6 form-text" ng-class="{ 'text-success': model.voip.info }">
                {{ model.voip.info ? model.voip.info.type : 'N/A' }}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-6 control-label">Webphone Agent</label>
              <div class="col-sm-6 form-text" ng-class="{ 'text-success': model.voip.info }">
                {{ model.voip.info ? model.voip.info.agent : 'N/A' }}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-6 control-label">Webphone IP</label>
              <div class="col-sm-6 form-text" ng-class="{ 'text-success': model.voip.info }">
                {{ model.voip.info ? model.voip.info.ip : 'N/A' }}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-6 control-label">Webphone Port</label>
              <div class="col-sm-6 form-text" ng-class="{ 'text-success': model.voip.info }">
                {{ model.voip.info ? model.voip.info.port : 'N/A' }}
              </div>
            </div>
            <div class="row">
              <label class="col-sm-6 control-label">Active Call Information</label>
              <div class="col-sm-6 form-text" ng-class="{ 'text-success': model.voip.call }">
                {{ model.voip.call ? model.voip.call : 'No Connection' }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-12 text-info">
                If the server information appears to be out of date you can refresh it by clicking the
                reload button on the right side of the Webphone Status header.
              </div>
            </div>
          </div>
          <div ng-if="'recordings'==tab" class="form-body well allow-select">
            <div ng-if="0 == model.recordingList.length">
              The application has not set up any recordings.
            </div>
            <div ng-if="0 < model.recordingList.length">
              <div class="row">
                <div class="col-sm-12 form-text">
                  <select ng-model="model.activeRecording"
                          ng-options="item as item.name for item in model.recordingList"
                          ng-change="model.selectRecording()"
                          ng-disabled="'monitoring' == model.voipOperation"
                          class="form-control">
                  </select>
                </div>
              </div>
              <hr />
              <div class="row">
                <label class="col-sm-6 control-label">Play Sound File</label>
                <div class="col-sm-6">
                  <select ng-model="model.activeRecordingFile"
                          ng-options="item as item.name for item in model.activeRecording.fileList"
                          ng-change="model.selectRecordingFile()"
                          ng-disabled="'monitoring' == model.voipOperation ||
                                       0 == model.activeRecording.fileList.length"
                          class="form-control"></select>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-6 control-label">Playback Volume</label>
                <div class="col-sm-6">
                  <select ng-model="model.playbackVolume"
                          ng-options="volume for volume in ['+4','+3','+2','+1','0','-1','-2','-3','-4']"
                          ng-disabled="'monitoring' == model.voipOperation ||
                                       0 == model.activeRecording.fileList.length"
                          class="form-control"></select>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-6 control-label">Record Participant</label>
                <div class="col-sm-6 form-text">{{ model.activeRecording.record }}</div>
              </div>
              <div class="row">
                <label class="col-sm-6 control-label">Timer</label>
                <div class="col-sm-6 form-text">
                  {{ model.activeRecording.timer ? model.activeRecording.timer + ' seconds' : '(none)' }}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-5">
                  <button type="button"
                          class="btn btn-primary full-width"
                          ng-click="model.startRecording()"
                          ng-disabled="'monitoring' == model.voipOperation || null == model.activeRecording">
                    <span ng-if="model.activeRecording.record">
                      Record <i class="glyphicon glyphicon-record"></i>
                    </span>
                    <span ng-if="!model.activeRecording.record">
                      Play <i class="glyphicon glyphicon-play"></i>
                    </span>
                  </button>
                </div>
                <div class="col-sm-2">
                  <input type="text"
                         class="form-control full-width"
                         ng-model="model.timerValue"
                         readonly />
                </div>
                <div class="col-sm-5">
                  <button type="button"
                          class="btn btn-danger full-width"
                          ng-click="model.stopRecording()"
                          ng-disabled="'monitoring' != model.voipOperation">
                    Stop <i class="glyphicon glyphicon-stop"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h4 class="text-center">Client</h4>
          <div class="form-body well text-center" uib-tooltip="{{ javaHelp }}" tooltip-placement="bottom">
            <iframe width="100%" height="400" ng-src="{{ model.webphoneUrl }}">
              Your browser does not support the Java-based webphone, please use another browser
              if you wish to use the webphone.
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
