/* animations css stylesheet */

.animate.ng-enter, 
.animate.ng-leave
{ 
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
} 

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
  opacity: 0;
}

.animate.ng-enter.animate.ng-enter-active, 
.animate.ng-leave {
  opacity: 1;
}
