table { margin-bottom: 0px !important; }
thead, tfoot { font-weight: bold; }
thead td, tbody td { text-align: center; }
tfoot { text-align: center; }
td.tiny { width: 1px; white-space: nowrap; }
.btn { font-weight: bold; }
.full-width { width: 100% !important; }
.half-width { width: 50% !important; }
.left { float: left }
.right { float: right }
.restrict { margin: 0px; font-size: 1.2em; }
.pagination { margin: 0; }
.input-group { width: 100%; }
.form-body { padding-top: 1em; }
.form-footer { padding: 1em; background: #EAEAEA; text-align: right; }
.rounded, .rounded-top, .rounded-bottom, .rounded-left, .rounded-right { border-radius: 6px !important; }
.rounded-top { border-bottom-left-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.rounded-bottom { border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; }
.rounded-left { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.rounded-right { border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important; }

/* make sure labels align well in forms */
label {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
}

/* get rid of input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance: textfield; }

/* use pointer while hovering over element */
.pointer { cursor: pointer !important; }

/* needed by angular-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* needed by bootstrap-ui-datetime-picker */
.datetime-picker div > table .btn-default { border: 0; }
.body-heading { padding-top: 0.33em; padding-bottom: 0.33em; min-width: 750px; }
.body-view { margin-top: 0.5em; padding: 0px; }
.body-heading .row { margin-left: 10px; }

.site-title {
  font-size: 130%;
  font-weight: bold;
  top: 3px;
}

/* used by the ng-view so that animated transitions work correctly */
.view-frame {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  min-width: 750px;
  width: 100%;
}

/* snap content, drawers and toggle buttons */
.menu-button {
  z-index: 100;
  position: fixed;
  top: 0px;
  height: 40px;
  width: 42px;
  outline: none !important;

  left: 35px;
  transform: rotate(90deg);
  transform-origin: left top 0;
}
snap-content {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0px 5px #000;
}
.snap-drawer, accordian-heading { background-color: #EAEAEA; }

/* accordion tweaking */
.panel { border: 0px; box-shadow: none; }
.panel-heading { padding: 0px }
.panel-collapse { background-color: #EAEAEA; }
.btn-accordion {
  border: 0px;
  border-radius: 0px;
  outline: none !important;
}

/* modal tweaking */
.modal-body { display: block; overflow: auto; }
.modal-header, .modal-footer { background: #EAEAEA; }
.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
