.menu-button {
  z-index: 100;
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: fixed;
  top: 30px;
  left: 32px;
  height: 35px;
  width: 10em;
  box-shadow: 2px -2px 5px #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
thead, tfoot { font-weight: bold; }
thead td, tbody td { text-align: center; }
tfoot { text-align: center; }
td.tiny { width: 1px; white-space: nowrap; }
.btn { font-weight: bold; }
.full-width { width: 100%; }
.left { float: left }
.right { float: right }
.restrict { margin: 0px; font-size: 1.2em; }
.pagination { margin: 0; }
.input-group { width: 100%; }

/* changes to modals */
.modal-body { display: block; overflow: auto; }
.modal-header, .modal-footer { background: #EAEAEA; }
.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* get rid of input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance: textfield; }

/* use pointer while hovering over element */
.pointer { cursor: pointer !important; }

/* needed by angular-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* needed by bootstrap-ui-datetime-picker */
.datetime-picker div > table .btn-default { border: 0; }
.outer-container { margin-top: 0.5em; padding: 0px; }

/* used by the ng-view so that animated transitions work correctly */
.view-frame {
  margin-top: 0.5em;
  padding-top: 1em;
  position: absolute;
  border: 2px solid #DDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* used by snap to hide drawer content */
snap-content {
  background-color: #fff;
  border-left: 1px solid #ccc;
  box-shadow: 2px 0px 5px #000;
}
