table { margin-bottom: 0px !important; }
thead, tfoot { font-weight: bold; }
thead td, tbody td { text-align: center; }
tfoot { text-align: center; }
td { border: 0px !important; }
td.tiny { width: 1px; white-space: nowrap; }
blockquote { font-size: 100%; }
.btn { font-weight: bold; }
.btn-narrow { padding-left: 6px; padding-right: 6px; }
.btn-muted { background-color: #eaeaea; }
.full-page { width: 100vw !important; height: 100vh !important; }
.full-width { width: 100% !important; }
.pagination { margin: 0; }
.input-group { width: 100%; }
.checkbox { display: inline-block; font-weight: normal; }
.form-body { padding-top: 1em; background: #f9f9f9; }
.form-horizontal .form-group { margin-right: -5px; margin-bottom: 0px; padding-bottom: 15px; }
.form-footer { padding: 1em; background: #eaeaea; text-align: right; }
.spacer { margin: 0.5em; content: "&nbsp;" }
.vertical-spacer { margin-top: 0.5em; margin-bottom: 0.5em; }
.horizontal-spacer { margin-left: 0.5em; margin-right: 0.5em; }
.rounded, .rounded-top, .rounded-bottom, .rounded-left, .rounded-right { border-radius: 6px !important; }
.rounded-top { border-bottom-left-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.rounded-bottom { border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; }
.rounded-left { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.rounded-right { border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important; }
.no-rounding { border-radius: 0px !important; }
.col-slim { padding-left: 0px; padding-right: 0px; }
.nopadding { padding: 0px; }
.tooltip-inner { width: 350px; }

.breadcrumb {
  padding-top: 15px;
  padding-bottom: 14px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
  list-style: outside none none;
  background-color: transparent;
  border-radius: 0px;
}
.breadcrumb > li + li:before {
  content: "/";
}

/* make sure labels align well in forms */
label {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
}

/* get rid of input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance: textfield; }

/* used by the ng-view so that animated transitions work correctly */
.fade-transition {
  position: absolute;
  width: 100%;
}

.outer-view-frame {
  padding: 0px;
  min-width: 750px;
  margin-top: 50px;
}

/* main frame showing */
.inner-view-frame {
  padding: 0.5em 0.5em 1.0em;
  background: #fff;
}

.gradient-footer {
  height: 4em;
  background: -moz-linear-gradient(top, white,  transparent);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, white, transparent);
  background: -o-linear-gradient(top, white, transparent);
  background: -ms-linear-gradient(top, white, transparent);
  background: linear-gradient(to bottom, white, transparent);
}

/* modal tweaking */
.modal-body { display: block; overflow: auto; }
.modal-header, .modal-footer { background: #eaeaea; }
.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.modal-title { font-weight: bold; }

.loader {
  padding: 3em;
  height: 16px;
  background-image: url( ../img/loading.gif );
  background-repeat: no-repeat;
  background-position: center center;
}

/* pointer cursor when hovering over selectable table rows */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  cursor: pointer;
}

/* navigation bar (always at top of page) */
.navigation-header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0px;
  box-shadow: 0px 3px 3px #a0a0a0;
}

.open > .navigation-menu, .open > .site-role-menu {
  opacity: 1;
  visibility: visible;
}

.navigation-menu {
  margin: 0px;
  display: block;
  opacity: 0;
  visibility: hidden;
  border: white;
  border-radius: 0px;
  width: 100%;
  background: #eaeaea;
  box-shadow: 0px 3px 3px #a0a0a0;
  -webkit-transition: opacity 500ms ease, visibility 500ms ease;
  -moz-transition: opacity 500ms ease, visibility 500ms ease;
  -o-transition: opacity 500ms ease, visibility 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.site-role-menu {
  margin: 0px;
  display: block;
  opacity: 0;
  visibility: hidden;
  border: white;
  border-radius: 0px;
  width: 100%;
  background: #eaeaea;
  -webkit-transition: opacity 500ms ease, visibility 500ms ease;
  -moz-transition: opacity 500ms ease, visibility 500ms ease;
  -o-transition: opacity 500ms ease, visibility 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.navigation-group {
  list-style: none;
  padding-top: 2px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-left: 7px;
}

/* navbar tweaks */
.navbar-link, .dropdown { cursor: pointer; }
.navbar-default {
  background: #eaeaea;
  border: #eaeaea;
  border-radius: 0px;
}
.navbar-brand {
  font-weight: bold;
  color: #428bca !important;
}
.navbar-brand:hover, .navbar-brand:focus {
  color: #333 !important;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding: 15px 0px;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: white;
}

.timepicker { background: #fff; padding-top: 1em; }
.timepicker-row { height: 2em; }
slider, [slider] { margin: 0px; }
slider div.handle:after, [slider] div.handle:after { width: 0px; height: 0px; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.loading {
  background: url( ../img/loading.gif );
  background-repeat: no-repeat;
  background-position: center center;
}

.background {
  background-image: url('../img/background.gif');
  background-size: 60px;
  background-repeat: repeat;
}

.record-list, .record-view { box-shadow: 0px 2px 2px #A0A0A0; }

.restrict-description { font-size: 80%; margin: 0; }
.restrict-add { display: table; width: 100%; }
