<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>Participant Export</h4>
  </div>
  <div class="container-fluid" style="margin-top: 1em;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="allow-select">
          <strong>Define Restrictions</strong>
        </span>
        <span class="pull-right">
          <span ng-if="model.confirmInProgress">working, please wait...</span>
          <span ng-if="!model.confirmInProgress">
            {{ model.participantCount ?
               model.participantCount + ' participants selected' :
               'no participants selected' }}
            <i class="glyphicon" ng-class="model.participantCount ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
          </span>
        </span>
      </div>
      <div class="container-fluid spacer">
        <p class="text-info" style="margin-top: 1em;">
          Add restrictions if you wish to narrow down the list of participants included in the returned data.<br>
          If you do not add any restrictions then all participants available to this application will be included.
        </p>
        <hr />
        <p ng-if="0 == model.restrictionList.length">
          No restrictions selected.
        </p>
        <div class="row vertical-spacer" ng-repeat="item in model.restrictionList">
          <hr ng-if="0 < $index && 'or' == item.logic"/>
          <div class="col-sm-2">
            <select class="form-control" ng-model="item.logic" ng-if="0 < $index">
              <option value="and">AND</option>
              <option value="or">OR</option>
            </select>
          </div>
          <label class="col-sm-2 control-label text-right">{{ item.restriction.title }}</label>
          <div class="col-sm-2 col-slim">
            <select class="form-control" ng-model="item.test">
              <option value="&lt;=&gt;">is</option>
              <option value="&lt;&gt;">is not</option>
              <option ng-if="'dob' == item.restriction.type || 'datetime' == item.restriction.type"
                      value="&lt;">before</option>
              <option ng-if="'dob' == item.restriction.type || 'datetime' == item.restriction.type"
                      value="&gt;">after</option>
              <option value="like" ng-if="'string' == item.restriction.type">like</option>
              <option value="not like" ng-if="'string' == item.restriction.type">not like</option>
            </select>
          </div>
          <div class="col-sm-5">
            <input ng-if="'string' == item.restriction.type"
                   class="form-control"
                   type="text"
                   autocomplete="off"
                   ng-model="item.value"
                   maxlength="255"></input>
            <input ng-if="'dob' == item.restriction.type || 'datetime' == item.restriction.type"
                   class="form-control"
                   type="text"
                   ng-click="model.selectDatetime( $index )"
                   ng-model="item.formattedValue"
                   onkeydown="return false"></input>
            <select ng-if="'boolean' == item.restriction.type || 'enum' == item.restriction.type"
                    class="form-control"
                    ng-model="item.value"
                    ng-options="obj.value as obj.name for obj in item.restriction.enumList"></select>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-danger pull-right" ng-click="model.removeRestriction( $index )">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </div>
        <hr />
        <div class="vertical-spacer">
          <select class="form-control"
                  ng-disabled="model.isLoading"
                  ng-model="model.newRestriction"
                  ng-change="model.addRestriction( model.newRestriction )"
                  ng-options="obj.key as obj.title for obj in model.restrictionTypeList"></select>
        </div>
      </div>
      <div class="form-footer text-right rounded-bottom bg-info">
        <button type="button" class="btn btn-primary" ng-click="model.applyRestrictions()">
          Apply Restrictions
        </button>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="allow-select">
          <strong>Define Columns</strong>
        </span>
        <span class="pull-right">
          <span ng-if="model.confirmInProgress">working, please wait...</span>
          <span ng-if="!model.confirmInProgress">
            {{ (model.participantCount*model.columnList.length)|cnCommaInteger }} data points total
          </span>
        </span>
      </div>
      <div class="container-fluid spacer">
        <p class="text-info" style="margin-top: 1em;">
          Add which columns are to be included in the participant export.
        </p>
        <hr />
        <p ng-if="0 == model.columnList.length">
          No columns selected.
        </p>
        <hr />
        <div class="vertical-spacer">
          <select class="form-control"
                  ng-disabled="model.isLoading"
                  ng-model="model.newColumn"
                  ng-change="model.addColumn( model.newColumn )"
                  ng-options="obj.column as obj.title for obj in model.participantColumnList"></select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button" class="btn btn-primary" ng-click="model.downloadData()">Download Data</button>
  </div>
</div>
