<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
         ng-if="!isLoading"
         ng-click="refresh( true )"
         tooltip="Click to refresh data"
         tooltip-placement="left"></i>
      Participant Notes
      <span ng-if="isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <div class="container-fluid">
    <cn-loading ng-if="isLoading"></cn-loading>
    <div class="spacer" ng-if="!isLoading">
      <p class="text-info" style="margin-top: 1em;">
        Participant notes are listed from most recent to least recent, with "sticky" notes
        always showing at the top.
      </p>
      <hr />
      <div ng-if="allowAdd" class="panel panel-info">
        <div class="panel-heading">
          <span>Add note</span>
        </div>
        <div style="position:relative;">
          <textarea id="newNote" ng-model="model.newNote" class="form-control note" cn-elastic></textarea>
          <button class="btn btn-info bottom-right" ng-click="addNote()">
            <i class="glyphicon glyphicon-cloud-upload"></i> Submit
          </button>
        </div>
      </div>
      <hr />
      <p ng-if="0 == model.noteList.length" class="text-info">There are no notes for this participant.</p>
      <div class="panel panel-default" ng-repeat="note in model.noteList | orderBy:['-sticky','-datetime']">
        <div class="panel-heading">
          <span class="allow-select">{{ note.userFirst }} {{ note.userLast }}</span>
          <span class="pull-right">
            <span class="allow-select">{{ note.datetime | cnDatetime:'datetimesecond' }}</span>
            <button ng-if="allowEdit"
                    class="btn btn-xs btn-default"
                    ng-class="{'btn-warning':note.sticky}"
                    ng-click="model.stickyChanged( note.id )">
              <i class="glyphicon glyphicon-pushpin"></i>
            </button>
            <button ng-if="allowDelete"
                    class="btn btn-xs btn-danger"
                    cn-really-message="Are you sure you want to delete the note by {{ note.userFirst }} {{ note.userLast }}?"
                    cn-really-click="model.deleteNote( note.id )">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
        </div>
        <div style="position:relative;">
          <textarea id="note{{ note.id }}"
                    ng-model="note.note"
                    ng-blur="model.noteChanged( note.id )"
                    class="form-control note"
                    ng-disabled="!allowEdit"
                    cn-elastic></textarea>
          <button ng-if="note.note != note.noteBackup"
                  class="btn btn-warning bottom-right"
                  ng-click="undo( note.id )">undo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button" class="btn btn-default pull-left" ng-click="viewHistory()">History</button>
    <button type="button" class="btn btn-primary" ng-click="viewParticipant()">View Participant</button>
  </div> 
</div>
