<div class="record-view rounded" ng-class="{ 'maximize': maximized }">
  <div class="container-fluid bg-primary rounded-top"
           ng-click="maximized = !maximized"
           style="cursor:pointer;">
    <h4>
      <div class="pull-right">
        <i class="glyphicon glyphicon-refresh glyph-hover btn-primary btn-header"
           ng-if="!noRefresh && isComplete"
           ng-click="refresh(); $event.stopPropagation()"
           uib-tooltip="Click to refresh data"
           tooltip-placement="left"></i>
        <i class="glyphicon glyph-hover btn-primary btn-header"
           ng-class="maximized ? 'glyphicon-resize-small' : 'glyphicon-resize-full'"
           uib-tooltip="Click to maximize chart"
           tooltip-placement="left"></i>
      </div>
      {{ heading }}
    </h4>
  </div>
  <div class="form-body" ng-attr-id="{{ identifier }}" style="padding: 1em;">
    <cn-loading ng-show="loading"></cn-loading>
    <canvas ng-show="!loading"
            class="chart chart-line"
            chart-data="plot.data"
            chart-series="plot.series"
            chart-labels="plot.labels"
            chart-options="plot.options"
            chart-hover="plot.hover"
            chart-colors="plot.colors"
            chart-click="plot.click"></canvas>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
  </div>
</div>
