<div class="btn-group">
  <div class="btn-group dropdown" ng-repeat="op in model.module.extraOperationList[type]">
    <button class="btn btn-default"
            type="button"
            id="{{ op.id }}"
            ng-if="op.isIncluded( state, model )"
            ng-disabled="op.isDisabled( state, model )"
            ng-class="op.classes"
            uib-tooltip="{{ op.help }}"
            tooltip-placement="right"
            data-toggle="dropdown"
            airea-haspopup="true"
            aria-expanded="false"
            ng-click="op.operation( state, model )">
      {{ op.title }}
      <span class="caret" ng-if="op.operations"></span>
    </button>
    <ul class="dropdown-menu full-width" ng-if="op.operations" aria-labelledby="{{ op.id }}">
      <li ng-repeat="subOp in op.operations"
          ng-if="subOp.isIncluded( state, model )"
          ng-class="subOp.classes + ( subOp.isDisabled( state, model ) ? ' disabled' : '' )">
        <a id="{{ subOp.id }}"
           uib-tooltip="{{ subOp.help }}"
           tooltip-placement="right"
           ng-click="subOp.operation( state, model )">{{ subOp.title }}</a>
      </li>
    </ul>
  </div>
</div>
