<div class="record-list rounded vertical-spacer" ng-if="1 < model.viewModel.getChildList().length">
  <div class="container-fluid bg-primary rounded-top"><h4>List Selector</h4></div>
  <div class="container-fluid bg-info rounded-bottom">
    <div class="btn-toolbar vertical-spacer" role="toolbar">
      <button
        ng-repeat="child in model.viewModel.getChildList()"
        ng-click="model.viewModel.setTab( child.subject.snake )"
        ng-bind-html="model.viewModel.getChildTitle( child )"
        class="btn btn-group"
        ng-class="child.subject.snake == model.viewModel.tab ? 'btn-primary' : 'btn-default'"></button>
    </div>
  </div>
</div>
