<form ng-submit="ok()" novalidate name="form" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">Change Password</h4>
  </div>
  <div class="modal-body">
    <p class="text-info">
      Fill out this form to change your password:
    </p>
    <hr />
    <div ng-show="confirm"
         class="form-group"
         ng-class="{ 'has-feedback has-error': form.currentPass.$dirty && form.currentPass.$invalid }">
      <label for="currentPass" class="col-sm-4 control-label">Current Password</label>
      <div class="col-sm-8">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.currentPass.$dirty && form.currentPass.$invalid }">
          <input id="currentPass"
                 name="currentPass"
                 ng-model="currentPass"
                 class="form-control"
                 type="{{ showPasswords ? 'text' : 'password' }}" />
        </div>
        <span ng-if="form.currentPass.$invalid && form.currentPass.$dirty">
          <span class="help-block" ng-if="form.currentPass.$error.required">Cannot be blank</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.newPass1.$dirty && form.newPass1.$invalid }">
      <label for="newPass1" class="col-sm-4 control-label">New Password</label>
      <div class="col-sm-8">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.newPass1.$dirty && form.newPass1.$invalid }">
          <input id="newPass1"
                 name="newPass1"
                 ng-model="newPass1"
                 ng-change="checkPasswordMatch()"
                 class="form-control"
                 type="{{ showPasswords ? 'text' : 'password' }}"
                 ng-minlength="8"
                 required />
        </div>
        <span ng-if="form.newPass1.$invalid && form.newPass1.$dirty">
          <span class="help-block" ng-if="form.newPass1.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.newPass1.$error.minlength">Isn't long enough</span>
          <span class="help-block" ng-if="form.newPass1.$error.noMatch">Passwords do not match</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.newPass2.$dirty && form.newPass2.$invalid }">
      <label for="newPass2" class="col-sm-4 control-label">Repeat New Password</label>
      <div class="col-sm-8">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.newPass2.$dirty && form.newPass2.$invalid }">
          <input id="newPass2"
                 name="newPass2"
                 ng-model="newPass2"
                 ng-change="checkPasswordMatch()"
                 class="form-control"
                 type="{{ showPasswords ? 'text' : 'password' }}"
                 required />
        </div>
        <span ng-if="form.newPass2.$invalid && form.newPass2.$dirty">
          <span class="help-block" ng-if="form.newPass2.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.newPass2.$error.noMatch">Passwords do not match</span>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-info">
    <button type="button" class="btn btn-info pull-left" ng-click="toggleShowPasswords()">
      {{ showPasswords ? 'Hide' : 'Show' }} Passwords
    </button>
    <button type="button" class="btn btn-default" ng-if="confirm" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary"
            ng-disabled="!newPass1 || !newPass2 || newPass1 != newPass2 || form.$invalid">OK</button>
  </div>
</form>
