<form ng-submit="ok()" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">Select a value for {{ local.title }}</h4>
  </div>
  <div class="modal-body">
    <div>
      <div ng-if="'date' == local.pickerType ||
                  'dob' == local.pickerType ||
                  'datetime' == local.pickerType ||
                  'datetimesecond' == local.pickerType"
           class="container-fluid">
        <table class="full-width">
          <thead>
            <tr>
              <th>
                <button type="button" class="btn btn-default full-width" ng-click="local.viewPrev()">
                  <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
              </th>
              <th colspan="{{ 'day' == local.mode ? 5 : ( 'month' == local.mode ? 1 : 3 ) }}">
                <button type="button" class="btn btn-default full-width" ng-click="local.nextMode()">
                  <strong>{{ local.modeTitle }}</strong>
                </button>
              </th>
              <th>
                <button type="button" class="btn btn-default full-width" ng-click="local.viewNext()">
                  <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
              </th>
            </tr>
            <tr ng-if="'day' == local.mode">
              <th class="text-center"><small>Sun</small></th>
              <th class="text-center"><small>Mon</small></th>
              <th class="text-center"><small>Tue</small></th>
              <th class="text-center"><small>Wed</small></th>
              <th class="text-center"><small>Thu</small></th>
              <th class="text-center"><small>Fri</small></th>
              <th class="text-center"><small>Sat</small></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in local.cellList">
              <td ng-repeat="cell in row" class="text-center">
                <button type="button" class="btn btn-default full-width"
                        ng-class="{'btn-muted':cell.weekend&&!cell.current,'btn-info':cell.current}"
                        ng-click="local.select(cell.date)" ng-disabled="cell.disabled">
                  <span ng-class="{'text-muted': cell.offMonth}">{{cell.label}}</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="'datetime' == local.pickerType || 'datetimesecond' == local.pickerType"
           class="vertical-spacer"></div>
      <div ng-if="'dob' != local.pickerType && 'date' != local.pickerType" class="container-fluid timepicker">
        <div class="row timepicker-row">
          <div class="col-xs-2"><strong>Time:</strong></div>
          <div class="col-xs-10">{{ local.displayTime }}</div>
        </div>
        <div class="vertical-spacer"></div>
        <div class="row timepicker-row">
          <div class="col-xs-2"><strong>Hour:</strong></div>
          <div class="col-xs-10">
            <cn-slider ng-model="local.hourSliderValue" floor="0" ceiling="23" step="1"></cn-slider>
          </div>
        </div>
        <div class="vertical-spacer"></div>
        <div class="row timepicker-row">
          <div class="col-xs-2"><strong>Minute:</strong></div>
          <div class="col-xs-10">
            <cn-slider ng-model="local.minuteSliderValue" floor="0" ceiling="59" step="1"></cn-slider>
          </div>
        </div>
        <div ng-if="'datetimesecond' == local.pickerType" class="vertical-spacer"></div>
        <div ng-if="'datetimesecond' == local.pickerType" class="row timepicker-row">
          <div class="col-xs-2"><strong>Second:</strong></div>
          <div class="col-xs-10">
            <cn-slider ng-model="local.secondSliderValue" floor="0" ceiling="59" step="1"></cn-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-info">
    <div class="btn-group pull-left">
      <button ng-if="'dob' != local.pickerType && 'date' != local.pickerType"
              type="button"
              class="btn btn-info"
              ng-click="local.select('now')"
              ng-disabled="nowDisabled">Now</button>
      <button ng-if="'timesecond' != local.pickerType &&
                     'timesecond_notz' != local.pickerType &&
                     'time' != local.pickerType &&
                     'time_notz' != local.pickerType"
              type="button"
              class="btn btn-info"
              ng-click="local.select('today')"
              ng-disabled="todayDisabled">Today</button>
      <button ng-if="local.emptyAllowed"
              type="button"
              class="btn btn-warning"
              ng-click="local.select(null)">Empty</button>
    </div>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-autofocus>OK</button>
  </div>
</form>
