<form ng-submit="ok()" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">
      {{ 'fr' == model.locale ? 'Sélectionner une valeur' : 'Select a value' }}
      {{ model.title ? ('fr' == model.locale ? ' pour ' : ' for ') + model.title : "" }}
    </h4>
  </div>
  <div class="modal-body">
    <div>
      <div ng-if="'date' == model.pickerType ||
                  'yearmonth' == model.pickerType ||
                  'dob' == model.pickerType ||
                  'dod' == model.pickerType ||
                  'datetime' == model.pickerType ||
                  'datetimesecond' == model.pickerType"
           class="container-fluid">
        <table class="full-width">
          <thead>
            <tr>
              <th>
                <button type="button" class="btn btn-default full-width" ng-click="model.viewPrev()">
                  <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
              </th>
              <th colspan="{{ 'day' == model.mode ? 5 : ( 'month' == model.mode ? 1 : 3 ) }}">
                <button type="button" class="btn btn-default full-width" ng-click="model.nextMode()">
                  <strong>{{ model.modeTitle }}</strong>
                </button>
              </th>
              <th>
                <button type="button" class="btn btn-default full-width" ng-click="model.viewNext()">
                  <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
              </th>
            </tr>
            <tr ng-if="'day' == model.mode">
              <th class="text-center" ng-repeat="weekdayName in weekdayNameList"><small>{{ weekdayName }}</small></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in model.cellList">
              <td ng-repeat="cell in row" class="text-center">
                <button type="button" class="btn btn-default full-width"
                        ng-class="{'btn-muted':cell.weekend&&!cell.current,'btn-info':cell.current}"
                        ng-click="model.select(cell.date)" ng-disabled="cell.disabled">
                  <span ng-class="{'text-muted': cell.offMonth}">{{cell.label}}</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="'datetime' == model.pickerType || 'datetimesecond' == model.pickerType"
           class="vertical-spacer"></div>
      <div ng-if="'yearmonth' != model.pickerType &&
                  'dob' != model.pickerType &&
                  'dod' != model.pickerType &&
                  'date' != model.pickerType" class="container-fluid timepicker">
        <div class="row timepicker-row">
          <div class="col-xs-2"><strong>Time:</strong></div>
          <div class="col-xs-10">{{ model.displayTime }}</div>
        </div>
        <div class="vertical-spacer"></div>
        <div class="row timepicker-row">
          <div class="col-xs-2"><strong>Hour:</strong></div>
          <div class="col-xs-10">
            <cn-slider ng-model="model.hourSliderValue"
                       floor="0"
                       ceiling="23"
                       step="{{ model.hourStep }}">
            </cn-slider>
          </div>
        </div>
        <div class="vertical-spacer"></div>
        <div class="row timepicker-row">
          <div class="col-xs-2"><strong>Minute:</strong></div>
          <div class="col-xs-10">
            <cn-slider ng-model="model.minuteSliderValue"
                       floor="0"
                       ceiling="59"
                       step="{{ model.minuteStep }}">
            </cn-slider>
          </div>
        </div>
        <div ng-if="'datetimesecond' == model.pickerType" class="vertical-spacer"></div>
        <div ng-if="'datetimesecond' == model.pickerType" class="row timepicker-row">
          <div class="col-xs-2"><strong>Second:</strong></div>
          <div class="col-xs-10">
            <cn-slider ng-model="model.secondSliderValue"
                       floor="0"
                       ceiling="59"
                       step="{{ model.secondStep }}">
            </cn-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-info">
    <div class="btn-group pull-left">
      <button ng-if="'yearmonth' != model.pickerType &&
                     'dob' != model.pickerType &&
                     'dod' != model.pickerType &&
                     'date' != model.pickerType"
              type="button"
              class="btn btn-info"
              ng-click="model.select('now')"
              ng-disabled="nowDisabled">{{ 'fr' == model.locale ? 'Maintenant' : 'Now' }}</button>
      <button ng-if="'timesecond' != model.pickerType &&
                     'timesecond_notz' != model.pickerType &&
                     'time' != model.pickerType &&
                     'time_notz' != model.pickerType"
              type="button"
              class="btn btn-info"
              ng-click="model.select('today')"
              ng-disabled="todayDisabled">{{ 'fr' == model.locale ? "Aujourd'hui" : 'Today' }}</button>
      <button ng-if="model.emptyAllowed"
              type="button"
              class="btn btn-warning"
              ng-click="model.select(null)">{{ 'fr' == model.locale ? "Ne s'applique pas" : 'Empty' }}</button>
    </div>
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'fr' == model.locale ? 'Annuler' : 'Cancel' }}</button>
    <button type="submit" class="btn btn-primary" ng-autofocus>OK</button>
  </div>
</form>
