<form ng-submit="ok()" novalidate name="form" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">Select a Timezone</h4>
  </div>
  <!-- this model-body requires a specialized style so that the typeahead displays correctly -->
  <div class="modal-body" style="overflow: visible; margin-bottom: 5em;">
    <p class="text-info">
      Select which timezone you would like all times to be displayed in.<br/>
      Note that most timezones have multiple names, you may choose any.
    </p>
    <hr/>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.timezone.$dirty && form.timezone.$invalid }">
      <label for="timezone" class="col-sm-4 control-label">Timezone</label>
      <div class="col-sm-8">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.timezone.$dirty && form.timezone.$invalid }">
          <input id="timezone"
                 name="timezone"
                 ng-model="timezone"
                 uib-typeahead="item for item in getTypeaheadValues( $viewValue )"
                 typeahead-editable="false"
                 typeahead-min-length="2"
                 class="form-control"
                 type="text"
                 placeholder="(Type the first few letters to search possible values)"
                 autocomplete="off"
                 cn-autofocus
                 required></input>
        </div>
        <span ng-if="form.timezone.$invalid && form.timezone.$dirty">
          <span class="help-block" ng-if="form.timezone.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.timezone.$error.editable">Must be chosen from list</span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="use12hourClock" class="col-sm-4 control-label"
             uib-tooltip="Whether to display times using the 12-hour clock (am/pm)">Use 12-Hour Clock</label>
      <div class="col-sm-8">
        <div class="input-group">
          <select id="use12hourClock"
                  name="use12hourClock"
                  ng-model="use12hourClock"
                  class="form-control"
                  required>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-info">
    <div class="btn-group pull-left">
      <button type="button" class="btn btn-info" ng-click="siteTimezone()">Current Site</button>
    </div>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="form.timezone.$invalid">OK</button>
  </div>
</form>
