<form ng-submit="ok( value )" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <label for="value" class="control-label allow-select">{{ message }}</label>
    <input ng-if="!enumList"
           id="value"
           name="value"
           ng-model="value"
           class="form-control"
           type="text"
           required />
    <select ng-if="enumList"
      ng-options="item.value as item.name for item in enumList"
      ng-model="value"
      class="form-control"></select>
  </div>
  <div class="modal-footer bg-info">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">OK</button>
  </div>
</form>
