<form ng-submit="ok()" novalidate name="form" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">{{ model.title }}</h4>
  </div>
  <div class="modal-body">
    <span ng-if="!model.html" class="allow-select" style="white-space: pre-wrap;">{{ model.message }}</span>
    <span ng-if="model.html" class="allow-select" ng-bind-html="model.message"></span>
    <div class="row container-fluid vertical-spacer">
      <input id="value"
             name="value"
             ng-if="'enum' != model.format"
             ng-model="model.value"
             ng-required="model.required"
             ng-change="check()"
             class="form-control"></input>
      <select id="value"
              name="value"
              ng-options="item.value as item.name disable when item.disabled for item in model.enumList"
              ng-model="model.value"
              ng-if="'enum' == model.format"
              ng-required="model.required"
              ng-change="check()"
              class="form-control"></select>
      <span ng-if="form.value.$invalid && form.value.$dirty">
        <span class="help-block" ng-if="form.value.$error.required">You cannot leave this field empty.</span>
        <span class="help-block" ng-if="form.value.$error.format">Invalid format</span>
      </span>
    </div>
  </div>
  <div class="modal-footer bg-info">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="form.value.$invalid" cn-autofocus>OK</button>
  </div>
</form>
