<form ng-submit="ok()" novalidate name="form" class="noselect">
  <div class="modal-header bg-primary">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Notes for {{ participant.uid }}</h4>
  </div>
  <div class="modal-body">
    <p class="text-info">
      Participant notes are listed from most recent to least recent, with "sticky" notes
      always showing at the top.
    </p>
    <hr />
    <div ng-if="allowAdd" class="panel panel-info">
      <div class="panel-heading">
        <span>Add note</span>
      </div>
      <div style="position:relative;">
        <textarea id="newNote" ng-model="newNote" class="form-control note" cn-elastic></textarea>
        <button class="btn btn-info bottom-right" ng-click="addNote()">
          <i class="glyphicon glyphicon-cloud-upload"></i> Submit
        </button>
      </div>
    </div>
    <hr />
    <p ng-if="0 == noteList.length" class="text-info">There are no notes for this participant.</p>
    <div class="panel panel-default" ng-repeat="note in noteList | orderBy:['-sticky','-datetime']">
      <div class="panel-heading">
        <span>{{ note.userFirst }} {{ note.userLast }}</span>
        <span class="pull-right">
          {{ note.datetime | cnDatetime:'datetimesecond' }}
          <button ng-if="allowEdit"
                  class="btn btn-xs btn-default"
                  ng-class="{'btn-warning':note.sticky}"
                  ng-click="stickyChanged( note.id )">
            <i class="glyphicon glyphicon-pushpin"></i>
          </button>
          <button ng-if="allowDelete"
                  class="btn btn-xs btn-danger"
                  cn-really-message="Are you sure you want to delete the note by {{ note.userFirst }} {{ note.userLast }}?"
                  cn-really-click="deleteNote( note.id )">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </span>
      </div>
      <div style="position:relative;">
        <textarea id="note{{ note.id }}"
                  ng-model="note.note"
                  cn-change="noteChanged( note.id )"
                  class="form-control note"
                  ng-disabled="!allowEdit"
                  cn-elastic></textarea>
        <button ng-if="note.note != note.noteBackup"
                class="btn btn-warning bottom-right"
                ng-click="undo( note.id )">undo</button>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-info">
    <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
  </div>
</form>
