<form ng-submit="local.ok()" novalidate name="form" class="noselect">
  <div class="modal-header">
    <button type="button" class="close" ng-click="local.close()">&times;</button>
    <h4 class="modal-title">Account Details</h4>
  </div>
  <div class="modal-body">
    TODO
  </div>
  <div class="modal-footer" style="margin-top: 0px">
    <button type="button" class="btn btn-default" ng-click="local.cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">OK</button>
  </div>
</form>
