<form ng-submit="ok()" novalidate name="form" class="noselect">
  <div class="modal-header">
    <h4 class="modal-title">Select a Site and Role</h4>
  </div>
  <div class="modal-body">
    <p class="text-info">
      Select which site and role you would like to switch to.
    </p>
    <hr/>
    <div class="row container-fluid">
      <label for="timezone" class="col-sm-3 control-label">Site</label>
      <div class="col-sm-9">
        <select id="siteId"
                name="siteId"
                ng-options="site.id as site.name for site in siteList"
                ng-model="siteId"
                ng-change="refreshRoleList()"
                class="form-control"></select>
      </div>
    </div>
    <div class="row container-fluid">
      <label for="timezone" class="col-sm-3 control-label">Role</label>
      <div class="col-sm-9">
        <select id="roleId"
                name="roleId"
                ng-options="role.id as role.name for role in roleList"
                ng-model="roleId"
                class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">OK</button>
  </div>
</form>
