<form ng-submit="local.ok()" novalidate name="form" class="noselect">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
  </div>
  <div class="modal-body">
    <p class="text-info">
      Fill out this form to change your password:
    </p>
    <hr />
    <div ng-if="local.confirm"
         class="form-group"
         ng-class="{ 'has-feedback has-error': form.currentPass.$dirty && form.currentPass.$invalid }">
      <label for="currentPass" class="col-sm-4 control-label">Current Password</label>
      <div class="col-sm-8">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.currentPass.$dirty && form.currentPass.$invalid }">
          <input name="currentPass"
                 ng-model="local.currentPass"
                 class="form-control"
                 type="{{ local.showPasswords ? 'text' : 'password' }}" />
        </div>
        <span ng-if="form.currentPass.$invalid && form.currentPass.$dirty">
          <span class="help-block" ng-if="form.currentPass.$error.required">Cannot be blank</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.newPass1.$dirty && form.newPass1.$invalid }">
      <label for="newPass1" class="col-sm-4 control-label">New Password</label>
      <div class="col-sm-8">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.newPass1.$dirty && form.newPass1.$invalid }">
          <input name="newPass1"
                 id="newPass1"
                 ng-model="local.newPass1"
                 ng-change="local.checkPasswordMatch()"
                 class="form-control"
                 type="{{ local.showPasswords ? 'text' : 'password' }}"
                 ng-minlength="8"
                 required />
        </div>
        <span ng-if="form.newPass1.$invalid && form.newPass1.$dirty">
          <span class="help-block" ng-if="form.newPass1.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.newPass1.$error.minlength">Isn't long enough</span>
          <span class="help-block" ng-if="form.newPass1.$error.noMatch">Passwords do not match</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.newPass2.$dirty && form.newPass2.$invalid }">
      <label for="newPass2" class="col-sm-4 control-label">Repeat New Password</label>
      <div class="col-sm-8">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.newPass2.$dirty && form.newPass2.$invalid }">
          <input name="newPass2"
                 id="newPass2"
                 ng-model="local.newPass2"
                 ng-change="local.checkPasswordMatch()"
                 class="form-control"
                 type="{{ local.showPasswords ? 'text' : 'password' }}"
                 required />
        </div>
        <span ng-if="form.newPass2.$invalid && form.newPass2.$dirty">
          <span class="help-block" ng-if="form.newPass2.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.newPass2.$error.noMatch">Passwords do not match</span>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info pull-left" ng-click="local.toggleShowPasswords()">
      {{ local.showPasswords ? 'Hide' : 'Show' }} Passwords
    </button>
    <button type="button" class="btn btn-default" ng-if="local.confirm" ng-click="local.cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary"
            ng-disabled="!local.newPass1 ||
                         !local.newPass2 ||
                         local.newPass1 != local.newPass2 ||
                         form.$invalid">OK</button>
  </div>
</form>
