<form ng-submit="ok( local.restrictList )" class="noselect">
  <div class="modal-header">
    <h4 class="modal-title">Restrict listing</h4>
  </div>
  <div class="modal-body">
    <p class="text-info">
      Provide how you wish to restrict the <strong>{{ local.name.singular | cnUCWords }}</strong> listing
      based on the <strong>{{ local.column }}</strong> column:
    </p>
    <hr />
    <div class="form-group">
      <label class="col-sm-3 control-label">Restriction</label>
      <div class="col-sm-9 well text-center">
        <span ng-repeat="restrict in local.restrictList">
          {{ ( restrict.logic ? restrict.logic.toUpperCase() + ' ' : '' ) + restrict.description }}
          <br ng-if"!$last">
        </span>
      </div>
    </div>
    <div ng-class="{'restrict-add': !$first}"
         ng-repeat="restrict in local.restrictList"
         ng-switch="local.type">
      <hr />
      <div ng-if="!$first" class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
          <select name="{{ 'logic' + $index }}"
                  ng-model="restrict.logic"
                  ng-change="local.describeRestriction( $index )"
                  class="form-control">
            <option value="and">AND</option>
            <option value="or">OR</option>
          </select>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-danger pull-right" ng-click="local.removeRestriction( $index )">
            Remove Condition
          </button>
        </div>
      </div>
      <div ng-switch-when="string">
        <div class="form-group">
          <label for="{{ 'test' + $index }}" class="col-sm-3 control-label">Comparison</label>
          <div class="col-sm-9">
            <select id="{{ 'test' + $index }}"
                    name="{{ 'test' + $index }}"
                    ng-model="restrict.test"
                    ng-change="local.describeRestriction( $index )"
                    class="form-control">
              <option value="&lt;=&gt;">is</option>
              <option value="&lt;&gt;">is not</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="like">is like</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="not like">is not like</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ 'value' + $index }}" class="col-sm-3 control-label">Value</label>
          <div class="col-sm-7">
            <input id="{{ 'value' + $index }}"
                   name="{{ 'value' + $index }}"
                   ng-model="restrict.value"
                   ng-change="local.describeRestriction( $index )"
                   class="form-control"
                   type="text"
                   placeholder="{{ null === restrict.value ? '(empty)' : '' }}"
                   ng-disabled="null === restrict.value" />
          </div>
          <div class="col-sm-2">
            <label class="btn btn-default pull-right"
                   ng-class="{'btn-warning':local.emptyList[$index].state}"
                   ng-model="local.emptyList[$index].state"
                   ng-click="local.toggleEmpty( $index )"
                   btn-checkbox>Empty</label>
          </div>
        </div>
      </div>
      <div ng-switch-when="boolean">
        <div class="form-group">
          <label for="{{ 'test' + $index }}" class="col-sm-3 control-label">Comparison</label>
          <div class="col-sm-9">
            <select id="{{ 'test' + $index }}"
                    name="{{ 'test' + $index }}"
                    ng-model="restrict.test"
                    ng-change="local.describeRestriction( $index )"
                    class="form-control">
              <option value="&lt;=&gt;">is</option>
              <option value="&lt;&gt;">is not</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ 'value' + $index }}" class="col-sm-3 control-label">Value</label>
          <div class="col-sm-7">
            <select id="{{ 'value' + $index }}"
                    name="{{ 'value' + $index }}"
                    ng-model="restrict.value"
                    ng-change="local.describeRestriction( $index )"
                    class="form-control"
                    ng-disabled="null === restrict.value">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label class="btn btn-default pull-right"
                   ng-class="{'btn-warning':local.emptyList[$index].state}"
                   ng-model="local.emptyList[$index].state"
                   ng-click="local.toggleEmpty( $index )"
                   btn-checkbox>Empty</label>
          </div>
        </div>
      </div>
      <div ng-switch-when="number">
        <div class="form-group">
          <label for="{{ 'test' + $index }}" class="col-sm-3 control-label">Comparison</label>
          <div class="col-sm-9">
            <select id="{{ 'test' + $index }}"
                    name="{{ 'test' + $index }}"
                    ng-model="restrict.test"
                    ng-change="local.describeRestriction( $index )"
                    class="form-control">
              <option value="&lt;=&gt;">is</option>
              <option value="&lt;&gt;">is not</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&gt;">greater than</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&gt;=">greater or equal to</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&lt;">less than</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&lt;=">less or equal to</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ 'value' + $index }}" class="col-sm-3 control-label">Value</label>
          <div class="col-sm-7">
            <input id="{{ 'value' + $index }}"
                   name="{{ 'value' + $index }}"
                   ng-model="restrict.value"
                   ng-change="local.describeRestriction( $index )"
                   class="form-control"
                   type="text"
                   placeholder="{{ null === restrict.value ? '(empty)' : 'restriction number' }}"
                   ng-disabled="null === restrict.value" />
          </div>
          <div class="col-sm-2">
            <label class="btn btn-default pull-right"
                   ng-class="{'btn-warning':local.emptyList[$index].state}"
                   ng-model="local.emptyList[$index].state"
                   ng-click="local.toggleEmpty( $index )"
                   btn-checkbox>Empty</label>
          </div>
        </div>
      </div>
      <div ng-switch-when="rank">
        <div class="form-group">
          <label for="{{ 'test' + $index }}" class="col-sm-3 control-label">Comparison</label>
          <div class="col-sm-9">
            <select id="{{ 'test' + $index }}"
                    name="{{ 'test' + $index }}"
                    ng-model="restrict.test"
                    ng-change="local.describeRestriction( $index )"
                    class="form-control">
              <option value="&lt;=&gt;">is</option>
              <option value="&lt;&gt;">is not</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&gt;">greater than</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&gt;=">greater or equal to</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&lt;">less than</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&lt;=">less or equal to</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ 'value' + $index }}" class="col-sm-3 control-label">Value</label>
          <div class="col-sm-7">
            {{ form }}
            <input id="{{ 'value' + $index }}"
                   name="{{ 'value' + $index }}"
                   ng-model="restrict.value"
                   ng-change="local.describeRestriction( $index )"
                   class="form-control" type="number" min="1"
                   placeholder="{{ null === restrict.value ? '(empty)' : 'restriction rank' }}"
                   ng-disabled="null === restrict.value" />
          </div>
          <div class="col-sm-2">
            <label class="btn btn-default pull-right"
                   ng-class="{'btn-warning':local.emptyList[$index].state}"
                   ng-model="local.emptyList[$index].state"
                   ng-click="local.toggleEmpty( $index )"
                   btn-checkbox>Empty</label>
          </div>
        </div>
      </div>
      <div ng-switch-default>
        <div class="form-group">
          <label for="{{ 'test' + $index }}" class="col-sm-3 control-label">Comparison</label>
          <div class="col-sm-9">
            <select id="{{ 'test' + $index }}"
                    name="{{ 'test' + $index }}"
                    ng-model="restrict.test"
                    ng-change="local.describeRestriction( $index )"
                    class="form-control">
              <option value="&lt;=&gt;">is</option>
              <option value="&lt;&gt;">is not</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&gt;">greater than</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&gt;=">greater or equal to</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&lt;">less than</option>
              <option class="not-nullable" ng-disabled="null === restrict.value" value="&lt;=">less or equal to</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ 'value' + $index }}" class="col-sm-3 control-label">Value</label>
          <div class="col-sm-7">
            <input id="{{ 'value' + $index }}"
                   name="{{ 'value' + $index }}"
                   ng-model="local.formattedValueList[$index]"
                   ng-change="local.describeRestriction( $index )"
                   class="form-control"
                   type="text"
                   ng-click="selectDatetime( $index )"
                   onkeydown="return false"
                   placeholder="{{ null === restrict.value ?
                                   '(empty)' :
                                   'restriction ' + (
                                     'time' == local.type || 'timesecond' == local.type ?
                                     'time' : 'date &amp; time'
                                   ) }}"
                   ng-disabled="null === restrict.value" />
          </div>
          <div class="col-sm-2">
            <label class="btn btn-default pull-right"
                   ng-class="{'btn-warning':local.emptyList[$index].state}"
                   ng-model="local.emptyList[$index].state"
                   ng-click="local.toggleEmpty( $index )"
                   btn-checkbox>Empty</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info pull-left"
            ng-click="local.addRestriction()">Add Condition</button>
    <button type="button" class="btn btn-default"
            ng-click="local.preExisting ? remove() : cancel()">
      {{ local.preExisting ? 'Remove' : 'Cancel' }}
    </button>
    <button type="submit" class="btn btn-primary">OK</button>
  </div>
</form>
