<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
         ng-if="!model.isLoading"
         ng-click="refresh( true )"
         tooltip="Click to refresh data"
         tooltip-placement="left"></i>
      {{ model.module.name.singular.ucWords() }} Notes
      <span ng-if="model.isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <div ng-if="5 < model.noteList.length" class="form-footer text-right bg-info">
    <button type="button"
            class="btn btn-default pull-left"
            ng-if="model.viewHistory"
            ng-click="model.viewHistory()">History</button>
    <button type="button" class="btn btn-primary" ng-click="model.viewRecord()">
      View {{ model.module.name.singular.ucWords() }}
    </button>
  </div>
  <div class="container-fluid">
    <cn-loading ng-if="model.isLoading"></cn-loading>
    <div class="spacer" ng-if="!model.isLoading">
      <p class="text-info" style="margin-top: 1em;">
        {{ model.module.name.singular.ucWords() }} notes are listed from most recent to least recent,
        with "sticky" notes always showing at the top.
      </p>
      <hr />
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>Add note</span>
        </div>
        <div style="position:relative;">
          <textarea id="newNote" ng-model="model.newNote" class="form-control note" cn-elastic></textarea>
          <button class="btn btn-info bottom-right" ng-click="addNote()" ng-disabled="0 == model.newNote.length">
            <i class="glyphicon glyphicon-cloud-upload"></i> Submit
          </button>
        </div>
      </div>
      <hr />
      <div class="form-horizontal">
        <div class="row" style="padding-bottom: 1em;">
          <label class="col-sm-2 control-label"
                 tooltip="Only show notes containing all search words">Search</label>
          <div class="col-sm-10">
            <input class="form-control"
                   type="text"
                   ng-model="model.search"
                   ng-change="model.updateSearch()"
                   autocomplete="off"></input>
          </div>
        </div>
      </div>
      <p ng-if="0 == model.noteList.length" class="text-info">
        <span ng-if="!search.length">There are no notes for this {{ model.module.name.singular }}.</span>
        <span ng-if="0 < search.length">There are no notes which have all of the words in your search.</span>
      </p>
      <div class="panel panel-default" ng-repeat="note in model.noteList | orderBy:['-sticky','-datetime']">
        <div class="panel-heading">
          <span class="allow-select">{{ note.userFirst }} {{ note.userLast }}</span>
          <span class="pull-right">
            <span class="allow-select">{{ note.datetime | cnDatetime:'datetimesecond' }}</span>
            <button ng-if="model.allowEdit"
                    class="btn btn-xs btn-default"
                    ng-class="{'btn-warning':note.sticky}"
                    ng-click="model.stickyChanged( note.id )">
              <i class="glyphicon glyphicon-pushpin"></i>
            </button>
            <button ng-if="model.allowDelete"
                    class="btn btn-xs btn-danger"
                    cn-really-message="Are you sure you want to delete the note by {{ note.userFirst }} {{ note.userLast }}?"
                    cn-really-click="model.deleteNote( note.id )">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
        </div>
        <div style="position:relative;">
          <textarea id="note{{ note.id }}"
                    ng-model="note.note"
                    cn-change="model.noteChanged( note.id )"
                    class="form-control note"
                    ng-disabled="!model.allowEdit"
                    cn-elastic></textarea>
          <button ng-if="note.note != note.noteBackup"
                  class="btn btn-warning bottom-right"
                  ng-click="undo( note.id )">undo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button"
            class="btn btn-default pull-left"
            ng-if="model.viewHistory"
            ng-click="model.viewHistory()">History</button>
    <button type="button" class="btn btn-primary" ng-click="model.viewRecord()">
      View {{ model.module.name.singular.ucWords() }}
    </button>
  </div>
</div>
