<div class="container-fluid bg-primary rounded-top"><h4>{{ model.addModel.heading }}</h4></div>
<form name="form" class="form-horizontal" novalidate><fieldset ng-disabled="!isComplete">
  <div class="form-footer text-right bg-info" ng-if="footerAtTop">
    <cn-extra-operation-button-group model="model" class="pull-left" type="add">
    </cn-extra-operation-button-group>
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ getCancelText() }}</button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="isAdding">
      <i class="glyphicon glyphicon-cloud-upload"></i> {{ getSaveText() }}
    </button>
  </div>
  <div class="form-body">
    <div ng-repeat="group in dataArray" ng-attr-name="{{ group.title }}" ng-if="groupHasVisibleInputs( group )">
      <div ng-if="0 < group.title.length"
           class="container-fluid bg-info"
           style="margin-bottom:2px; cursor:pointer;">
        <h4>{{ group.title }}</h4>
      </div>
      <cn-add-input
        ng-repeat="input in group.inputArray"
        ng-if="true != input.isExcluded( $state, model ) && 'add' != input.isExcluded( $state, model ) && 'hidden' != input.type"
        record="record"
        formatted-record="formattedRecord"
        model="model"
        input="input"
        first="group.title.length && $first">
      </cn-add-input>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <cn-extra-operation-button-group class="pull-left" model="model" type="add">
    </cn-extra-operation-button-group>
    <button type="button" class="btn btn-default" ng-click="cancel()">{{ getCancelText() }}</button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="isAdding">
      <i class="glyphicon glyphicon-cloud-upload"></i> {{ getSaveText() }}
    </button>
  </div>
</fieldset></form>
