<div class="container-fluid bg-primary rounded-top"><h4>{{ heading }}</h4></div>
<table class="table"
       ng-class="{ 'table-hover':listModel.viewEnabled||listModel.selectMode, 'table-striped':!listModel.selectMode } ">
  <thead>
    <tr class="info">
      <td ng-repeat="column in columnList">
        <div class="btn-group" role="group" area-hidden="true">
          <button class="btn btn-narrow btn-info"
                  ng-click="listModel.orderBy( column.key )">{{ column.title }}
            <i ng-if="null !== listModel.order && listModel.order.column == column.key"
               class="glyphicon"
               ng-class="listModel.order.reverse ? 'glyphicon-circle-arrow-up' : 'glyphicon-circle-arrow-down'"></i>
          </button>
          <button class="btn btn-narrow btn-info"
                  ng-if="column.allowRestrict"
                  ng-click="addRestrict( column.key )">
            <i class="glyphicon glyphicon-flag"></i>
          </button>
        </div>
        <div class="text-center text-info full-width" ng-if="column.restrict">
          <p class="restrict"
             tooltip="To remove click the flag, then remove button"
             tooltip-placement="bottom"
             tooltip-popup-delay="750">
            {{ column.restrict.test | cnComparator }}
            "{{ column.restrict.value }}"
          </p>
        </div>
      </td>
      <td class="tiny" ng-if="listModel.deleteEnabled"></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="listModel.loading">
      <td colspan="{{ numColumns }}" style="background-color: #FFF">
        <div class="loader" tooltip="Loading..."></div>
      </td>
    </tr>
    <tr ng-if="!listModel.loading && 0 == listModel.cache.length">
      <td colspan="{{ numColumns }}">
        There are no {{ listModel.name.plural }} found.
      </td>
    </tr>
    <tr ng-if="!listModel.loading"
        ng-repeat="record in listModel.cache
                   | orderBy: listModel.order.column:listModel.order.reverse
                   | limitTo: ( listModel.cnPagination.currentPage - 1 ) * listModel.cnPagination.itemsPerPage -
                              listModel.cache.length
                   | limitTo: listModel.cnPagination.itemsPerPage"
        ng-click="selectRecord( record )"
        ng-class="{ success:listModel.selectMode&&record.selected }">
        <td ng-repeat="column in columnList">
          <div>{{ record[column.key] | cnMetaFilter:column.filter }}</div>
        </td>
        <td class="tiny" ng-if="listModel.deleteEnabled">
          <div>
            <button class="btn btn-xs btn-danger"
                    cn-really-message="Are you sure you want to delete the {{ $index + 1 | cnOrdinal }}
                                       item in the {{ listModel.name.singular }} list?"
                    cn-really-click="deleteRecord( record.id )"
                    ng-click="$event.stopPropagation()">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </td>
    </tr>
  </tbody>
  <tfoot ng-if="0 < listModel.cache.length || listModel.addEnabled || listModel.selectEnabled">
    <tr class="info">
      <td colspan="{{ numColumns }}" class="rounded-bottom">
        <pagination class="pagination left"
                    ng-model="listModel.cnPagination.currentPage"
                    ng-show="listModel.cache.length > listModel.cnPagination.itemsPerPage"
                    ng-change="listModel.checkCache()"
                    max-size="listModel.cnPagination.showPageLimit"
                    items-per-page="listModel.cnPagination.itemsPerPage"
                    total-items="listModel.total"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"></pagination>
        {{ listModel.total }} records total
        <button class="btn btn-default right"
                ng-if="listModel.addEnabled"
                ng-click="addRecord()">
          <i class="glyphicon glyphicon-plus"></i> Add
        </button>
        <button class="btn btn-default right"
                ng-if="listModel.selectEnabled"
                ng-class="listModel.selectMode ? 'btn-success' : 'btn-default'"
                ng-click="listModel.toggleSelectMode()">
          <i class="glyphicon glyphicon-edit"
             ng-class="listModel.selectMode ? 'glyphicon-check' : 'glyphicon-edit'"></i>
          {{ listModel.selectMode ? 'Done' : 'Select' }}
        </button>
      </td>
    </tr>
  </tfoot>
</table>
