<div class="record-list rounded">
  <div class="container-fluid bg-primary rounded-top"
       data-toggle="collapse"
       data-target="#{{ model.module.subject.camel }}List"
       ng-click="collapsed = !collapsed"
       style="cursor:pointer;">
    <h4>
      <div class="pull-right">
        <i class="glyphicon glyphicon-refresh glyph-hover btn-primary btn-header"
           ng-if="!model.listModel.isLoading"
           ng-click="refresh(); $event.stopPropagation()"
           uib-tooltip="Click to refresh data"
           tooltip-placement="left"></i>
        <span class="dropdown report-dropdown" ng-if="model.listModel.enableReports">
          <i class="glyphicon glyphicon-file glyph-hover btn-header"
             ng-class="model.listModel.isReportAllowed && !model.listModel.isReportLoading ?
               'btn-primary' : 'glyph-disabled'"
             ng-if="!model.listModel.isLoading && !model.listModel.chooseMode"
             id="reportTypeList"
             ng-click="toggleReportTypeDropdown(); $event.stopPropagation()"
             data-toggle="dropdown"
             uib-tooltip="{{ model.listModel.isReportAllowed
               ? 'Click to download list as a report'
               : 'The list is either empty, too large or reporting is disabled' }}"
             tooltip-placement="left"></i>
          <ul ng-if="model.listModel.isReportAllowed && !model.listModel.isReportLoading"
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="reportTypeList">
            <li><a ng-click="getReport( 'csv' ); $event.stopPropagation()">CSV</a></li>
            <li ng-if="!model.listModel.isReportBig">
              <a ng-click="getReport( 'xlsx' ); $event.stopPropagation()">Excel</a>
            </li>
            <li ng-if="!model.listModel.isReportBig">
              <a ng-click="getReport( 'ods' ); $event.stopPropagation()">LibreOffice</a>
            </li>
          </ul>
        </span>
        <i class="glyphicon glyph-hover btn-primary btn-header"
           ng-class="collapsed ? 'glyphicon-collapse-down' : 'glyphicon-collapse-up'"
           uib-tooltip="Click to expand {{ model.module.name.singular }} list"
           tooltip-placement="left"></i>
      </div>
      {{ model.listModel.heading }}
    </h4>
  </div>
  <div class="collapse" ng-class="{'in':!initCollapsed}" id="{{ model.module.subject.camel }}List">
    <table class="table table-striped rounded"
           ng-class="{ 'table-hover':model.getViewEnabled() || model.chooseMode }">
      <thead class="bg-info">
        <tr>
          <td ng-repeat="column in dataArray"
              ng-if="undefined === column.isIncluded || column.isIncluded( $state, model )">
            <div class="btn-group" uib-tooltip="{{ column.help }}">
              <button class="btn btn-narrow btn-info dropdown-toggle"
                      data-toggle="dropdown"
                      type="button">
                {{ column.title }}
                <i ng-if="null !== model.listModel.order && model.listModel.order.column == column.key"
                   class="glyphicon"
                   ng-class="model.listModel.order.reverse ?
                             'glyphicon-circle-arrow-up' : 'glyphicon-circle-arrow-down'"></i>
              </button>
              <ul class="dropdown-menu" ng-class="{'dropdown-menu-right': $last}" role="menu">
                <li ng-init="reverse = null !== model.listModel.order &&
                                       model.listModel.order.column == column.key &&
                                       !model.listModel.order.reverse">
                  <a href="#" ng-click="model.listModel.orderBy( column.key,
                                          null !== model.listModel.order &&
                                          model.listModel.order.column == column.key &&
                                          !model.listModel.order.reverse )">
                    Sort {{ null !== model.listModel.order &&
                            model.listModel.order.column == column.key &&
                            !model.listModel.order.reverse ? 'Descending' : 'Ascending' }}
                  </a>
                </li>
                <li>
                  <a href="#"
                     ng-click="setRestrictList( column.key )"
                     uib-tooltip="{{ 0 < model.listModel.columnRestrictLists[column.key].length ?
                       'Click to modify existing restriction applied to the ' + column.title + ' column' :
                       'Click to restrict this list based on the ' + column.title + ' column' }}"
                     tooltip-placement="bottom"
                     tooltip-popup-delay="1000">
                    {{ 0 < model.listModel.columnRestrictLists[column.key].length ?
                       'Edit Restriction' : 'Restrict Values' }}
                  </a>
                 </li>
                <li ng-if="0 < model.listModel.columnRestrictLists[column.key].length">
                  <a href="#"
                     ng-click="removeRestrictList( column.key )"
                     uib-tooltip="
                       {{ 'Click to remove the existing restriction applied to the ' + column.title + ' column' }}"
                     tooltip-placement="bottom"
                     tooltip-popup-delay="1000">Remove Restriction</a>
                </li>
              </ul>
            </div>
            <div class="text-center full-width"
                 ng-if="0 < model.listModel.columnRestrictLists[column.key].length">
              <p class="restrict-description"
                 ng-click="setRestrictList( column.key )"
                 tooltip-placement="bottom"
                 tooltip-popup-delay="1000">
                <span ng-repeat="restrict in model.listModel.columnRestrictLists[column.key]">
                  {{ ( restrict.logic ? restrict.logic.toUpperCase() + ' ' : '' ) + restrict.description }}
                  <br ng-if"!$last">
                </span>
              </p>
            </div>
          </td>
          <td class="tiny" ng-if="model.getDeleteEnabled() || model.listModel.chooseMode"></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="model.listModel.isLoading">
          <td colspan="{{ numColumns + ( model.getDeleteEnabled() ? 1 : 0 ) }}" class="bg-white">
            <div class="loading" uib-tooltip="Loading&hellip;"></div>
          </td>
        </tr>
        <tr ng-if="!model.listModel.isLoading && 0 == model.listModel.cache.length">
          <td colspan="{{ numColumns + ( model.getDeleteEnabled() ? 1 : 0 ) }}">
            There are no {{ model.module.name.plural }} found.
          </td>
        </tr>
        <tr ng-if="!model.listModel.isLoading"
            ng-repeat="record in model.listModel.cache
                       | orderBy: model.listModel.order.column:model.listModel.order.reverse
                       | cnEmptyToEnd: model.listModel.order.column
                       | limitTo: model.listModel.paginationModel.getLimitTo(
                                    model.listModel.minOffset, model.listModel.cache.length )
                       | limitTo: model.listModel.paginationModel.itemsPerPage"
            ng-click="model.listModel.chooseMode ? chooseRecord( record ) : selectRecord( record )"
            ng-class="{
              success:model.listModel.chooseMode && record.chosen,
              highlight:record.$highlight
            }">
            <td ng-repeat="column in dataArray"
                ng-if="undefined === column.isIncluded || column.isIncluded( $state, model )"
                ng-style="column.width && {'width': column.width}"
                ng-class="{'text-left':'left'==column.align,'text-right':'right'==column.align}">
              <span ng-bind-html="record[column.key] | cnMetaFilter:column.filter"></span>
            </td>
            <td class="tiny" ng-if="model.getDeleteEnabled()">
              <button class="btn btn-xs btn-danger"
                      ng-disabled="isDeleting.includes( record.id )"
                      uib-tooltip="Delete {{ model.module.name.singular }}"
                      tooltip-placement="left"
                      cn-really-message="Are you sure you want to delete the {{ $index + 1 | cnOrdinal }} item in the {{ model.module.name.singular }} list?"
                      cn-really-click="deleteRecord( record )"
                      ng-click="$event.stopPropagation()">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
            <td class="tiny" ng-if="model.listModel.chooseMode">
              <button ng-if="record.chosen"
                      class="btn btn-xs btn-danger"
                      uib-tooltip="Remove {{ model.module.name.singular }}"
                      tooltip-placement="left">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>
        </tr>
      </tbody>
      <tfoot class="bg-info">
        <tr>
          <td colspan="{{ numColumns + ( model.getDeleteEnabled() ? 1 : 0 ) + ( model.listModel.chooseMode ? 1 : 0 ) }}"
              class="rounded-bottom">
            <ul uib-pagination class="pagination pull-left"
                ng-model="model.listModel.paginationModel.currentPage"
                ng-show="!model.listModel.isLoading && model.listModel.cache.length > model.listModel.paginationModel.itemsPerPage"
                ng-change="model.listModel.onPagination()"
                max-size="model.listModel.paginationModel.showPageLimit"
                items-per-page="model.listModel.paginationModel.itemsPerPage"
                total-items="model.listModel.total"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"></ul>
            <span class="footer-total" ng-show="!model.listModel.isLoading">
              {{ model.listModel.total }}
              {{ 1 == model.listModel.total ? model.module.name.singular : model.module.name.plural }} total
            </span>
            <div class="btn-group pull-right" ng-if="!model.getChooseEnabled()">
              <cn-extra-operation-button-group model="model" state="$state" type="list">
              </cn-extra-operation-button-group>
              <button class="btn btn-default pull-right"
                      ng-if="model.getAddEnabled()"
                      ng-click="addRecord()">
                <i class="glyphicon glyphicon-plus"></i> Add
              </button>
            </div>
            <div class="btn-group pull-right" ng-if="model.getChooseEnabled()">
              <button class="btn btn-default"
                      ng-if="model.getChooseEnabled()"
                      ng-disabled="applyingChoose"
                      ng-click="model.listModel.toggleChooseMode()">
                <i class="glyphicon glyphicon-edit"
                   ng-class="{'glyphicon-edit':!model.listModel.chooseMode}"></i>
                {{ model.listModel.chooseMode ? 'Cancel' : 'Choose' }}
              </button>
              <button class="btn btn-success"
                      ng-if="model.listModel.chooseMode"
                      ng-disabled="applyingChoose"
                      ng-click="applyChosenRecords()">
                <i class="glyphicon glyphicon-check"></i> Apply
              </button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="bg-info rounded-bottom collapsed-footer" ng-if="collapsed">
    <span class="footer-total">
      {{ model.listModel.total }}
      {{ 1 == model.listModel.total ? model.module.name.singular : model.module.name.plural }} total
    </span>
    <div class="btn-group pull-right" ng-if="!model.getChooseEnabled()">
      <cn-extra-operation-button-group model="model" state="$state" type="list">
      </cn-extra-operation-button-group>
      <button class="btn btn-default"
              ng-if="model.getAddEnabled()"
              ng-click="addRecord()">
        <i class="glyphicon glyphicon-plus"></i> Add
      </button>
    </div>
  </div>
</div>
