<div class="btn-group full-width">
  <div class="btn-group half-width" dropdown>
    <button type="button" class="btn btn-info full-width" dropdown-toggle>
      {{ site.name }}
      <i class="caret"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="s in siteList"><a href="?site_id={{ s.id }}">{{ s.name }}</a></li>
    </ul>
  </div>
  <div class="btn-group half-width" dropdown>
    <button type="button" class="btn btn-info full-width" dropdown-toggle>
      {{ role.name | cnUCWords }}
      <i class="caret"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="r in roleList"><a href="?role_id={{ r.id }}">{{ r.name | cnUCWords }}</a></li>
    </ul>
  </div>
</div>
