<ng-form name="innerForm">
  <div class="form-group"
       ng-class="{'form-group-condensed': condensed,
                  'first-form-group': first,
                  'has-feedback has-error': innerForm.name.$dirty && innerForm.name.$invalid}">
    <label for="{{ input.key }}"
           class="control-label"
           ng-class="{ 'col-sm-3': !noCols }"
           uib-tooltip-html="input.help"
           ng-bind-html="input.title"></label>
    <div class="row" ng-class="noCols ? 'col-sm-12' : 'col-sm-9'">
      <div ng-class="getColClass()">
        <div class="input-group"
             ng-switch="input.type|cnViewType"
             ng-class="{ 'has-feedback has-error': innerForm.name.$dirty && innerForm.name.$invalid }">
          <input ng-switch-when="string"
            ng-attr-id="{{ input.key }}"
            name="name"
            ng-model="model.viewModel.record[input.key]"
            cn-change="model.getEditEnabled() &&
                       true !== input.isConstant( $state, model ) &&
                       'view' !== input.isConstant( $state, model ) && patch()"
            class="form-control"
            type="text"
            autocomplete="off"
            maxlength="{{ input.maxLength ? input.maxLength : model.metadata.columnList[input.key].max_length }}"
            ng-readonly="!model.getEditEnabled() ||
                         true === input.isConstant( $state, model ) ||
                         'view' == input.isConstant( $state, model )"
            ng-required="model.metadata.columnList[input.key].required"></input>
          <div ng-switch-when="percent" style="margin-top: 4px;">
            <div class="col-sm-1">
              <span ng-hide="nan==model.viewModel.record[input.key]">
                {{ 100*model.viewModel.record[input.key] | number:0 }}%
              </span>
            </div>
            <div class="col-sm-11">
              <cn-slider
                disabled="!model.getEditEnabled() ||
                          true === input.isConstant( $state, model ) ||
                          'view' == input.isConstant( $state, model )"
                on-blur="model.getEditEnabled() &&
                         true !== input.isConstant( $state, model ) &&
                         'view' !== input.isConstant( $state, model ) && patch()"
                ng-model="model.viewModel.record[input.key]"
                precision="2"
                floor="0.0"
                ceiling="1.0"
                step="0.01"></cn-slider>
            </div>
          </div>
          <div ng-switch-when="size">
            <div class="col-sm-8 col-slim">
              <input ng-attr-id="{{ input.key }}"
                name="name"
                ng-model="model.viewModel.formattedRecord[input.key][0]"
                cn-change="model.getEditEnabled() &&
                           true !== input.isConstant( $state, model ) &&
                           'view' !== input.isConstant( $state, model ) && patch()"
                class="form-control"
                type="text"
                autocomplete="off"
                ng-readonly="!model.getEditEnabled() ||
                             true === input.isConstant( $state, model ) ||
                             'view' == input.isConstant( $state, model )"
                ng-required="model.metadata.columnList[input.key].required"></input>
            </div>
            <div class="col-sm-4 col-slim">
              <select ng-attr-id="{{ input.key }}"
                      name="name"
                      ng-model="model.viewModel.formattedRecord[input.key][1]"
                      ng-change="model.getEditEnabled() &&
                                 true !== input.isConstant( $state, model ) &&
                                 'view' !== input.isConstant( $state, model ) &&
                                 patch()"
                      class="form-control"
                      ng-disabled="!model.getEditEnabled() ||
                                   true === input.isConstant( $state, model ) ||
                                   'view' == input.isConstant( $state, model )"
                      ng-required="model.metadata.columnList[input.key].required">
                <option ng-disabled="null === model.viewModel.record[input.key]" value="Bytes">Bytes</option>
                <option ng-disabled="null === model.viewModel.record[input.key]" value="KB">KB</option>
                <option ng-disabled="null === model.viewModel.record[input.key]" value="MB">MB</option>
                <option ng-disabled="null === model.viewModel.record[input.key]" value="GB">GB</option>
                <option ng-disabled="null === model.viewModel.record[input.key]" value="TB">TB</option>
                <option ng-disabled="null === model.viewModel.record[input.key]" value="PB">PB</option>
                <option ng-disabled="null === model.viewModel.record[input.key]" value="EB">EB</option>
              </select>
            </div>
          </div>
          <input ng-switch-when="typeahead"
            ng-attr-id="{{ input.key }}"
            name="name"
            ng-model="model.viewModel.record[input.key]"
            uib-typeahead="item for item in getTypeaheadValues( $viewValue )"
            typeahead-editable="false"
            typeahead-on-select="onSelectTypeahead( $item, $model, $label )"
            typeahead-min-length="input.typeahead.minLength"
            cn-change="!model.viewModel.formattedRecord[input.key] && onEmptyTypeahead()"
            class="form-control"
            ng-class="{ 'loading-small': model.module.getInput( input.key ).typeahead.isLoading }"
            type="text"
            placeholder="{{ null === model.viewModel.record[input.key] ? '(empty - ' : '('
                         }}type the first few letters to search possible values)"
            autocomplete="off"
            ng-readonly="!model.getEditEnabled() ||
                         true === input.isConstant( $state, model ) ||
                         'view' == input.isConstant( $state, model )"></input>
          <input ng-switch-when="lookup-typeahead"
            ng-attr-id="{{ input.key }}"
            name="name"
            ng-model="model.viewModel.formattedRecord[input.key]"
            uib-typeahead="item.id as item.value for item in getTypeaheadValues( $viewValue )"
            typeahead-editable="false"
            typeahead-on-select="onSelectTypeahead( $item, $model, $label )"
            typeahead-min-length="input.typeahead.minLength"
            cn-change="!model.viewModel.formattedRecord[input.key] && onEmptyTypeahead()"
            class="form-control"
            ng-class="{ 'loading-small': model.module.getInput( input.key ).typeahead.isLoading }"
            type="text"
            placeholder="{{ null === model.viewModel.record[input.key] ? '(empty - ' : '('
                         }}type the first few letters to search possible values)"
            autocomplete="off"
            ng-readonly="!model.getEditEnabled() ||
                         true === input.isConstant( $state, model ) ||
                         'view' == input.isConstant( $state, model )"></input>
          <input ng-switch-when="datetime"
            ng-attr-id="{{ input.key }}"
            name="name"
            ng-model="model.viewModel.formattedRecord[input.key]"
            class="form-control"
            type="text"
            ng-click="model.getEditEnabled() &&
                      true !== input.isConstant( $state, model ) &&
                      'view' != input.isConstant( $state, model ) &&
                      selectDatetime()"
            ng-readonly="!model.getEditEnabled() ||
                         true === input.isConstant( $state, model ) ||
                         'view' == input.isConstant( $state, model )"
            onkeydown="return false"></input>
          <input ng-switch-when="color"
            ng-attr-id="{{ input.key }}"
            name="name"
            ng-model="model.viewModel.record[input.key]"
            cn-change="model.getEditEnabled() &&
                       true !== input.isConstant( $state, model ) &&
                       'view' !== input.isConstant( $state, model ) &&
                       patch()"
            class="form-control color-input"
            ng-style="{'background-color':model.viewModel.record[input.key]}"
            type="text"
            colorpicker="hex"
            colorpicker-size="200"
            colorpicker-close-on-select
            autocomplete="off"
            spellcheck="false"
            ng-readonly="!model.getEditEnabled() ||
                         true === input.isConstant( $state, model ) ||
                         'view' == input.isConstant( $state, model )"
            ng-required="model.metadata.columnList[input.key].required"
            onkeydown="return false"></input>
          <select ng-switch-when="select"
            ng-attr-id="{{ input.key }}"
            name="name"
            ng-options="item.value as item.name for item in input.enumList"
            cn-options-disabled="item.disabled for item in input.enumList"
            ng-model="model.viewModel.record[input.key]"
            ng-change="model.getEditEnabled() &&
                       true !== input.isConstant( $state, model ) &&
                       'view' !== input.isConstant( $state, model ) &&
                       patch()"
            class="form-control"
            ng-disabled="true === input.isConstant( $state, model ) || 'view' == input.isConstant( $state, model ) ||
                         !model.getEditEnabled() || !input.enumList || 1 >= input.enumList.length"
            ng-required="model.metadata.columnList[input.key].required"></select>
          <textarea ng-switch-when="text"
            cn-elastic
            ng-attr-id="{{ input.key }}"
            name="name"
            ng-model="model.viewModel.record[input.key]"
            cn-change="model.getEditEnabled() &&
                       true !== input.isConstant( $state, model ) &&
                       'view' !== input.isConstant( $state, model ) &&
                       patch()"
            class="form-control"
            maxlength="{{ input.maxLength ? input.maxLength : model.metadata.columnList[input.key].max_length }}"
            ng-readonly="!model.getEditEnabled() ||
                         true === input.isConstant( $state, model ) ||
                         'view' == input.isConstant( $state, model )"
            ng-required="model.metadata.columnList[input.key].required"></textarea>
          <div ng-switch-when="file"
               ng-attr-id="{{ input.key }}"
               name="name"
               class="vertical-spacer"
               ng-init="file=model.viewModel.fileList.findByProperty( 'key', input.key )">
            <div ng-if="model.viewModel.isFileListLoading">(Loading&hellip;)</div>
            <div ng-if="!model.viewModel.isFileListLoading">
              <span ng-if="0 < file.size">
                <span class="horizontal-spacer" style="cursor: pointer">
                  <a ng-click="file.download()" ng-bind-html="model.viewModel.record[input.key]"></a>
                </span>
                <span class="horizontal-spacer">({{ file.size | cnSize }})</span>
                <button class="btn btn-default pull-right"
                        style="margin-top: -6px"
                        ng-if="model.getEditEnabled() &&
                               true !== input.isConstant( $state, model ) &&
                               'view' !== input.isConstant( $state, model )"
                        ng-click="file.remove()">Remove</button>
              </span>
              <span ng-if="!file.size">
                <label
                  class="btn btn-default"
                  style="margin-top: -6px"
                  ng-if="model.getEditEnabled() &&
                         true !== input.isConstant( $state, model ) &&
                         'view' !== input.isConstant( $state, model )">
                  {{ file.uploading ? 'uploading' : 'upload' }}...
                  <input type="file" ng-model="file.file" cn-upload="file.upload()" style="display:none;"></input>
                </label>
                <span ng-if="!model.getEditEnabled() ||
                             true == input.isConstant( $state, model ) ||
                             'view' == input.isConstant( $state, model )">(empty)</span>
              </span>
            </div>
          </div>
          <div ng-switch-when="days" class="row">
            <div class="col-sm-1" style="width: 14.28%">
              <label class="checkbox" style="left: 20px" for="sunday">
                <input id="sunday" name="name"
                  ng-model="model.viewModel.record.sunday"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'sunday' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> Sunday
              </label>
            </div>
            <div class="col-sm-1" style="width: 14.28%">
              <label class="checkbox" style="left: 20px" for="monday">
                <input id="monday" name="name"
                  ng-model="model.viewModel.record.monday"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'monday' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> Monday
              </label>
            </div>
            <div class="col-sm-1" style="width: 14.28%">
              <label class="checkbox" style="left: 20px" for="tuesday">
                <input id="tuesday" name="name"
                  ng-model="model.viewModel.record.tuesday"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'tuesday' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> Tuesday
              </label>
            </div>
            <div class="col-sm-1" style="width: 14.28%">
              <label class="checkbox" style="left: 20px" for="wednesday">
                <input id="wednesday" name="name"
                  ng-model="model.viewModel.record.wednesday"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'wednesday' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> Wednesday
              </label>
            </div>
            <div class="col-sm-1" style="width: 14.28%">
              <label class="checkbox" style="left: 20px" for="thursday">
                <input id="thursday" name="name"
                  ng-model="model.viewModel.record.thursday"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'thursday' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> Thursday
              </label>
            </div>
            <div class="col-sm-1" style="width: 14.28%">
              <label class="checkbox" style="left: 20px" for="friday">
                <input id="friday" name="name"
                  ng-model="model.viewModel.record.friday"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'friday' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> Friday
              </label>
            </div>
            <div class="col-sm-1" style="width: 14.28%">
              <label class="checkbox" style="left: 20px" for="saturday">
                <input id="saturday" name="name"
                  ng-model="model.viewModel.record.saturday"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'saturday' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> Saturday
              </label>
            </div>
          </div>
          <div ng-switch-when="months" class="row">
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="january">
                <input id="january" name="name"
                  ng-model="model.viewModel.record.january"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'january' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> January
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="february">
                <input id="february" name="name"
                  ng-model="model.viewModel.record.february"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'february' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> February
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="march">
                <input id="march" name="name"
                  ng-model="model.viewModel.record.march"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'march' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> March
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="april">
                <input id="april" name="name"
                  ng-model="model.viewModel.record.april"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'april' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> April
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="may">
                <input id="may" name="name"
                  ng-model="model.viewModel.record.may"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'may' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> May
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="june">
                <input id="june" name="name"
                  ng-model="model.viewModel.record.june"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'june' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> June
              </label>
            </div>
          </div>
          <div ng-switch-when="months" class="row">
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="july">
                <input id="july" name="name"
                  ng-model="model.viewModel.record.july"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'july' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> July
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="august">
                <input id="august" name="name"
                  ng-model="model.viewModel.record.august"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'august' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> August
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="september">
                <input id="september" name="name"
                  ng-model="model.viewModel.record.september"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'september' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> September
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="october">
                <input id="october" name="name"
                  ng-model="model.viewModel.record.october"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'october' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> October
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="november">
                <input id="november" name="name"
                  ng-model="model.viewModel.record.november"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'november' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> November
              </label>
            </div>
            <div class="col-sm-2">
              <label class="checkbox" style="left: 20px" for="december">
                <input id="december" name="name"
                  ng-model="model.viewModel.record.december"
                  ng-change="model.getEditEnabled() &&
                             true !== input.isConstant( $state, model ) &&
                             'view' !== input.isConstant( $state, model ) &&
                             patch( 'december' )"
                  ng-disabled="!model.getEditEnabled() ||
                               true === input.isConstant( $state, model ) ||
                               'view' == input.isConstant( $state, model )"
                  type="checkbox"></input> December
              </label>
            </div>
          </div>
        </div>
        <span ng-if="innerForm.name.$invalid && innerForm.name.$dirty">
          <span class="help-block" ng-if="innerForm.name.$error.required">
            Cannot be blank
          </span>
          <span class="help-block" ng-if="innerForm.name.$error.format">
            Invalid format
          </span>
          <span class="help-block" ng-if="innerForm.name.$error.conflict">
            Conflicts with existing record
          </span>
          <span class="help-block" ng-if="innerForm.name.$error.editable">
            Must be chosen from type-ahead list
          </span>
          <span class="help-block" ng-if="innerForm.name.$error.custom">
            {{ innerForm.name.$error.custom }}
          </span>
        </span>
      </div>
      <div ng-if="model.getEditEnabled() &&
                  true !== input.isConstant( $state, model ) &&
                  'view' != input.isConstant( $state, model ) &&
                  'file' != input.type &&
                  model.viewModel.record[input.key] != model.viewModel.backupRecord[input.key] &&
                  !( !model.viewModel.record[input.key] && !model.viewModel.backupRecord[input.key] )"
           class="col-sm-1 col-slim">
        <button class="btn btn-warning" type="button" ng-click="undo()">Undo</button>
      </div>
      <div ng-if="input.action && input.action.isIncluded( state, model )" class="col-sm-2 col-slim-right">
        <button
          class="btn btn-default full-width"
          type="button"
          id="{{ input.action.id }}"
          ng-class="input.action.classes"
          ng-disabled="input.action.isDisabled( state, model )"
          ng-click="input.action.operation( state, model )"
          ng-bind-html="input.action.title">
        </button>
      </div>
    </div>
  </div>
</ng-form>
