.loading {
  background: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

div[name="app_bg"] {
  position: relative;
}

div[name="app_bg"]:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/background.gif');
  background-repeat: repeat;
  opacity: 0.333;
}

div[name="app_body"] {
  position: relative;
}

div[name=app_bg].loading:before {
  animation: pulse 1s linear infinite alternate;
}

.bg-loading {
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      rgb(var(--bs-primary-hover-bg)) 1rem,
      rgb(var(--bs-primary-hover-bg)) 2rem
    );
  background-size: 200% 200%;
  animation: barberpole 20s linear infinite;
}

@keyframes pulse {
  0% { opacity: 0; }
  100% { opacity: 0.666; }
}

@keyframes barberpole {
  100% { background-position: 100% 100%; }
}

.allow-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.tooltip-inner {
  text-align: left;
}

.tooltip {
  --bs-tooltip-max-width: 500px !important;
}
